@import "mixins.scss";
#r001_SetRack_Label1 {	@include elemAutoHeight(30);
}
#r001_SetRack_Label1 {	@include elemTop(18);
}
#r001_SetRack_Label1 {	@include elemLeft(12);
}
#r001_SetRack_Label1 {	@include elemAutoWidth(320);
}
#r001_SetRack_Label1 {	z-index: 0;
}
#r001_SetRack_Label1 {	@include font-weight-bold(true);
}
#r001_SetRack_Label2 {	@include elemAutoHeight(30);
}
#r001_SetRack_Label2 {	@include elemTop(61);
}
#r001_SetRack_Label2 {	@include elemLeft(12);
}
#r001_SetRack_Label2 {	@include elemAutoWidth(320);
}
#r001_SetRack_Label2 {	z-index: 1;
}
#r001_SetRack_Label2 {	@include font-weight-bold(true);
}
#r001_SetRack_NumericInput1 {	@include elemTop(110);
}
#r001_SetRack_NumericInput1 {	@include elemLeft(50);
}
#r001_SetRack_NumericInput1 {	@include elemAutoWidth(141);
}
#r001_SetRack_NumericInput1 {	@include elemAutoHeight(38);
}
#r001_SetRack_NumericInput1 {	z-index: 2;
}
#r001_SetRack_NumericInput1 {	input {
		font-size: 25px;
	}
}
#r001_SetRack_Button1 {	@include elemTop(108);
}
#r001_SetRack_Button1 {	@include elemLeft(239);
}
#r001_SetRack_Button1 {	@include elemAutoWidth(90);
}
#r001_SetRack_Button1 {	@include elemAutoHeight(42);
}
#r001_SetRack_Button1 {	z-index: 3;
}
