@import "mixins.scss";
#vkAlarmNaviPanel_ButtonBar1 {	@include elemHeight(30);
}
#vkAlarmNaviPanel_ButtonBar1 {	@include elemTop(15);
}
#vkAlarmNaviPanel_ButtonBar1 {	@include elemLeft(15);
}
#vkAlarmNaviPanel_ButtonBar1 {	@include elemWidth(645);
}
#vkAlarmNaviPanel_ButtonBar1 {	z-index: 0;
}
#vkAlarmNaviPanel_ToggleButton1 {	@include elemAutoWidth(100);
}
#vkAlarmNaviPanel_ToggleButton1 {	@include elemAutoHeight(30);
}
#vkAlarmNaviPanel_ToggleButton1 {	@include elemTop(0);
}
#vkAlarmNaviPanel_ToggleButton1 {	@include elemLeft(0);
}
#vkAlarmNaviPanel_ToggleButton1 {	z-index: 0;
}
#vkAlarmNaviPanel_ToggleButton1 {	@include border-radius(0px);
}
#vkAlarmNaviPanel_ToggleButton1 {	padding: 0px 0px;
}
#vkAlarmNaviPanel_ToggleButton2 {	@include elemAutoWidth(100);
}
#vkAlarmNaviPanel_ToggleButton2 {	@include elemAutoHeight(30);
}
#vkAlarmNaviPanel_ToggleButton2 {	@include elemTop(0);
}
#vkAlarmNaviPanel_ToggleButton2 {	@include elemLeft(0);
}
#vkAlarmNaviPanel_ToggleButton2 {	z-index: 1;
}
#vkAlarmNaviPanel_ToggleButton2 {	@include border-radius(0px);
}
#vkAlarmNaviPanel_ToggleButton2 {	padding: 0px 0px;
}
#vkAlarmNaviPanel_ToggleButton3 {	@include elemAutoWidth(100);
}
#vkAlarmNaviPanel_ToggleButton3 {	@include elemAutoHeight(30);
}
#vkAlarmNaviPanel_ToggleButton3 {	@include elemTop(0);
}
#vkAlarmNaviPanel_ToggleButton3 {	@include elemLeft(0);
}
#vkAlarmNaviPanel_ToggleButton3 {	z-index: 2;
}
#vkAlarmNaviPanel_ToggleButton3 {	@include border-radius(0px);
}
#vkAlarmNaviPanel_ToggleButton3 {	padding: 0px 0px;
}
#vkAlarmNaviPanel_Label6 {	@include elemAutoHeight(30);
}
#vkAlarmNaviPanel_Label6 {	@include elemTop(45);
}
#vkAlarmNaviPanel_Label6 {	@include elemLeft(15);
}
#vkAlarmNaviPanel_Label6 {	@include elemAutoWidth(230);
}
#vkAlarmNaviPanel_Label6 {	z-index: 1;
}
#vkAlarmNaviPanel_Label6 {	border-width: 1px;
}
#vkAlarmNaviPanel_Label6 {	background-color: rgba(211, 211, 211, 1);
}
#vkAlarmNaviPanel_Label6 {	border-color: rgba(0, 0, 0, 1);
}
#vkAlarmNaviPanel_Label6 {	&:before {
		border-color: rgba(0, 0, 0, 1);
	}
}
#vkAlarmNaviPanel_Label6 {	&:after {
		border-color: rgba(0, 0, 0, 1);
	}
}
#vkAlarmNaviPanel_Label6 {	border-style: solid;
}
#vkAlarmNaviPanel_Label6 {	&:before {
		border-style: solid;
	}
}
#vkAlarmNaviPanel_Label6 {	&:after {
		border-style: solid;
	}
}
#vkAlarmNaviPanel_Label6 {	@include text-alignment-all('center');
}
#vkAlarmNaviPanel_Label6 {	@include font-weight-bold(true);
}
#vkAlarmNaviPanel_Label6 {	span {
		padding: 0px;
	}
}
#vkAlarmNaviPanel_Label7 {	@include elemAutoHeight(30);
}
#vkAlarmNaviPanel_Label7 {	@include elemTop(45);
}
#vkAlarmNaviPanel_Label7 {	@include elemLeft(245);
}
#vkAlarmNaviPanel_Label7 {	@include elemAutoWidth(160);
}
#vkAlarmNaviPanel_Label7 {	z-index: 2;
}
#vkAlarmNaviPanel_Label7 {	border-width: 1px;
}
#vkAlarmNaviPanel_Label7 {	background-color: rgba(211, 211, 211, 1);
}
#vkAlarmNaviPanel_Label7 {	border-color: rgba(0, 0, 0, 1);
}
#vkAlarmNaviPanel_Label7 {	&:before {
		border-color: rgba(0, 0, 0, 1);
	}
}
#vkAlarmNaviPanel_Label7 {	&:after {
		border-color: rgba(0, 0, 0, 1);
	}
}
#vkAlarmNaviPanel_Label7 {	border-style: solid;
}
#vkAlarmNaviPanel_Label7 {	&:before {
		border-style: solid;
	}
}
#vkAlarmNaviPanel_Label7 {	&:after {
		border-style: solid;
	}
}
#vkAlarmNaviPanel_Label7 {	@include text-alignment-all('center');
}
#vkAlarmNaviPanel_Label7 {	@include font-weight-bold(true);
}
#vkAlarmNaviPanel_Label7 {	span {
		padding: 0px;
	}
}
#vkAlarmNaviPanel_Label8 {	@include elemAutoHeight(30);
}
#vkAlarmNaviPanel_Label8 {	@include elemTop(45);
}
#vkAlarmNaviPanel_Label8 {	@include elemLeft(405);
}
#vkAlarmNaviPanel_Label8 {	@include elemAutoWidth(160);
}
#vkAlarmNaviPanel_Label8 {	z-index: 3;
}
#vkAlarmNaviPanel_Label8 {	border-width: 1px;
}
#vkAlarmNaviPanel_Label8 {	background-color: rgba(211, 211, 211, 1);
}
#vkAlarmNaviPanel_Label8 {	border-color: rgba(0, 0, 0, 1);
}
#vkAlarmNaviPanel_Label8 {	&:before {
		border-color: rgba(0, 0, 0, 1);
	}
}
#vkAlarmNaviPanel_Label8 {	&:after {
		border-color: rgba(0, 0, 0, 1);
	}
}
#vkAlarmNaviPanel_Label8 {	border-style: solid;
}
#vkAlarmNaviPanel_Label8 {	&:before {
		border-style: solid;
	}
}
#vkAlarmNaviPanel_Label8 {	&:after {
		border-style: solid;
	}
}
#vkAlarmNaviPanel_Label8 {	@include text-alignment-all('center');
}
#vkAlarmNaviPanel_Label8 {	@include font-weight-bold(true);
}
#vkAlarmNaviPanel_Label8 {	span {
		padding: 0px;
	}
}
#vkAlarmNaviPanel_Label9 {	@include elemAutoHeight(30);
}
#vkAlarmNaviPanel_Label9 {	@include elemTop(45);
}
#vkAlarmNaviPanel_Label9 {	@include elemLeft(565);
}
#vkAlarmNaviPanel_Label9 {	@include elemAutoWidth(160);
}
#vkAlarmNaviPanel_Label9 {	z-index: 4;
}
#vkAlarmNaviPanel_Label9 {	border-width: 1px;
}
#vkAlarmNaviPanel_Label9 {	background-color: rgba(211, 211, 211, 1);
}
#vkAlarmNaviPanel_Label9 {	border-color: rgba(0, 0, 0, 1);
}
#vkAlarmNaviPanel_Label9 {	&:before {
		border-color: rgba(0, 0, 0, 1);
	}
}
#vkAlarmNaviPanel_Label9 {	&:after {
		border-color: rgba(0, 0, 0, 1);
	}
}
#vkAlarmNaviPanel_Label9 {	border-style: solid;
}
#vkAlarmNaviPanel_Label9 {	&:before {
		border-style: solid;
	}
}
#vkAlarmNaviPanel_Label9 {	&:after {
		border-style: solid;
	}
}
#vkAlarmNaviPanel_Label9 {	@include text-alignment-all('center');
}
#vkAlarmNaviPanel_Label9 {	@include font-weight-bold(true);
}
#vkAlarmNaviPanel_Label9 {	span {
		padding: 0px;
	}
}
#vkAlarmNaviPanel_Label10 {	@include elemAutoHeight(30);
}
#vkAlarmNaviPanel_Label10 {	@include elemTop(45);
}
#vkAlarmNaviPanel_Label10 {	@include elemLeft(725);
}
#vkAlarmNaviPanel_Label10 {	@include elemAutoWidth(90);
}
#vkAlarmNaviPanel_Label10 {	z-index: 5;
}
#vkAlarmNaviPanel_Label10 {	border-width: 1px;
}
#vkAlarmNaviPanel_Label10 {	background-color: rgba(211, 211, 211, 1);
}
#vkAlarmNaviPanel_Label10 {	border-color: rgba(0, 0, 0, 1);
}
#vkAlarmNaviPanel_Label10 {	&:before {
		border-color: rgba(0, 0, 0, 1);
	}
}
#vkAlarmNaviPanel_Label10 {	&:after {
		border-color: rgba(0, 0, 0, 1);
	}
}
#vkAlarmNaviPanel_Label10 {	border-style: solid;
}
#vkAlarmNaviPanel_Label10 {	&:before {
		border-style: solid;
	}
}
#vkAlarmNaviPanel_Label10 {	&:after {
		border-style: solid;
	}
}
#vkAlarmNaviPanel_Label10 {	@include text-alignment-all('center');
}
#vkAlarmNaviPanel_Label10 {	@include font-weight-bold(true);
}
#vkAlarmNaviPanel_Label10 {	span {
		padding: 0px;
	}
}
#vkAlarmNaviPanel_Label11 {	@include elemAutoHeight(30);
}
#vkAlarmNaviPanel_Label11 {	@include elemTop(45);
}
#vkAlarmNaviPanel_Label11 {	@include elemLeft(815);
}
#vkAlarmNaviPanel_Label11 {	@include elemAutoWidth(115);
}
#vkAlarmNaviPanel_Label11 {	z-index: 6;
}
#vkAlarmNaviPanel_Label11 {	border-width: 1px;
}
#vkAlarmNaviPanel_Label11 {	background-color: rgba(211, 211, 211, 1);
}
#vkAlarmNaviPanel_Label11 {	border-color: rgba(0, 0, 0, 1);
}
#vkAlarmNaviPanel_Label11 {	&:before {
		border-color: rgba(0, 0, 0, 1);
	}
}
#vkAlarmNaviPanel_Label11 {	&:after {
		border-color: rgba(0, 0, 0, 1);
	}
}
#vkAlarmNaviPanel_Label11 {	border-style: solid;
}
#vkAlarmNaviPanel_Label11 {	&:before {
		border-style: solid;
	}
}
#vkAlarmNaviPanel_Label11 {	&:after {
		border-style: solid;
	}
}
#vkAlarmNaviPanel_Label11 {	@include text-alignment-all('center');
}
#vkAlarmNaviPanel_Label11 {	@include font-weight-bold(true);
}
#vkAlarmNaviPanel_Label11 {	span {
		padding: 0px;
	}
}
#vkAlarmNaviPanel_Line1 {	z-index: 7;
}
#vkAlarmNaviPanel_Line1 {	line {
		stroke-width: 2px;
	}
}
