@import "mixins.scss";
#vkDeviceLoading_Image1 {	@include elemTop(620);
}
#vkDeviceLoading_Image1 {	@include elemLeft(495);
}
#vkDeviceLoading_Image1 {	@include elemAutoWidth(376);
}
#vkDeviceLoading_Image1 {	@include elemAutoHeight(72);
}
#vkDeviceLoading_Image1 {	z-index: 1;
}
#vkDeviceLoading_Image1 {	border-width: 0px;
}
#vkDeviceLoading_Rectangle1 {	@include elemTop(0);
}
#vkDeviceLoading_Rectangle1 {	@include elemLeft(0);
}
#vkDeviceLoading_Rectangle1 {	@include elemWidth(1366);
}
#vkDeviceLoading_Rectangle1 {	@include elemHeight(768);
}
#vkDeviceLoading_Rectangle1 {	z-index: 0;
}
#vkDeviceLoading_ProgressBar1 {	@include elemTop(340);
}
#vkDeviceLoading_ProgressBar1 {	@include elemLeft(438);
}
#vkDeviceLoading_ProgressBar1 {	@include elemWidth(490);
}
#vkDeviceLoading_ProgressBar1 {	@include elemHeight(38);
}
#vkDeviceLoading_ProgressBar1 {	z-index: 2;
}
#vkDeviceLoading_ProgressBar1 {	.pb-bar-container {
		@include border-radius(15px);
	}
}
#vkDeviceLoading_Label1 {	@include elemTop(294);
}
#vkDeviceLoading_Label1 {	@include elemLeft(438);
}
#vkDeviceLoading_Label1 {	@include elemAutoWidth(490);
}
#vkDeviceLoading_Label1 {	@include elemAutoHeight(38);
}
#vkDeviceLoading_Label1 {	z-index: 3;
}
#vkDeviceLoading_Label1 {	@include text-alignment-all('center');
}
#vkDeviceLoading_Label1 {	font-size: 20px;
}
#vkDeviceLoading_Label1 {	@include font-weight-bold(true);
}
