@import "mixins.scss";
#vkDialogProtect_Label1 {	@include elemTop(72);
}
#vkDialogProtect_Label1 {	@include elemLeft(341);
}
#vkDialogProtect_Label1 {	@include elemAutoWidth(56);
}
#vkDialogProtect_Label1 {	@include elemAutoHeight(21);
}
#vkDialogProtect_Label1 {	z-index: 0;
}
#vkDialogProtect_Button1 {	@include elemTop(237);
}
#vkDialogProtect_Button1 {	@include elemLeft(50);
}
#vkDialogProtect_Button1 {	@include elemAutoWidth(132);
}
#vkDialogProtect_Button1 {	@include elemAutoHeight(43);
}
#vkDialogProtect_Button1 {	z-index: 1;
}
#vkDialogProtect_Button1 {	@include border-radius(0px);
}
#vkDialogProtect_Button2 {	@include elemTop(237);
}
#vkDialogProtect_Button2 {	@include elemLeft(378);
}
#vkDialogProtect_Button2 {	@include elemAutoWidth(132);
}
#vkDialogProtect_Button2 {	@include elemAutoHeight(43);
}
#vkDialogProtect_Button2 {	z-index: 2;
}
#vkDialogProtect_Button2 {	@include border-radius(0px);
}
#vkDialogProtect_Label2 {	@include elemTop(123);
}
#vkDialogProtect_Label2 {	@include elemLeft(12);
}
#vkDialogProtect_Label2 {	@include elemAutoWidth(513);
}
#vkDialogProtect_Label2 {	@include elemAutoHeight(21);
}
#vkDialogProtect_Label2 {	z-index: 3;
}
#vkDialogProtect_Label6 {	@include elemTop(192);
}
#vkDialogProtect_Label6 {	@include elemLeft(14);
}
#vkDialogProtect_Label6 {	@include elemAutoWidth(535);
}
#vkDialogProtect_Label6 {	@include elemAutoHeight(21);
}
#vkDialogProtect_Label6 {	z-index: 4;
}
#vkDialogProtect_Label6 {	@include font-weight-bold(true);
}
#vkDialogProtect_TextOutput1 {	@include elemTop(72);
}
#vkDialogProtect_TextOutput1 {	@include elemLeft(109);
}
#vkDialogProtect_TextOutput1 {	@include elemAutoWidth(231);
}
#vkDialogProtect_TextOutput1 {	@include elemAutoHeight(21);
}
#vkDialogProtect_TextOutput1 {	z-index: 5;
}
#vkDialogProtect_TextOutput1 {	& span {
		color: rgba(255, 0, 0, 1);
	}
}
#vkDialogProtect_TextOutput1 {	@include text-alignment-all('center');
}
#vkDialogProtect_Label3 {	@include elemTop(72);
}
#vkDialogProtect_Label3 {	@include elemLeft(12);
}
#vkDialogProtect_Label3 {	@include elemAutoWidth(101);
}
#vkDialogProtect_Label3 {	@include elemAutoHeight(21);
}
#vkDialogProtect_Label3 {	z-index: 6;
}
#vkDialogProtect_Label4 {	@include elemTop(72);
}
#vkDialogProtect_Label4 {	@include elemLeft(458);
}
#vkDialogProtect_Label4 {	@include elemAutoWidth(99);
}
#vkDialogProtect_Label4 {	@include elemAutoHeight(21);
}
#vkDialogProtect_Label4 {	z-index: 7;
}
#vkDialogProtect_TextOutput2 {	@include elemTop(72);
}
#vkDialogProtect_TextOutput2 {	@include elemLeft(395);
}
#vkDialogProtect_TextOutput2 {	@include elemAutoWidth(65);
}
#vkDialogProtect_TextOutput2 {	@include elemAutoHeight(21);
}
#vkDialogProtect_TextOutput2 {	z-index: 8;
}
#vkDialogProtect_TextOutput2 {	& span {
		color: rgba(255, 0, 0, 1);
	}
}
#vkDialogProtect_TextOutput2 {	@include text-alignment-all('center');
}
#vkDialogProtect_Label5 {	@include elemTop(13);
}
#vkDialogProtect_Label5 {	@include elemLeft(32);
}
#vkDialogProtect_Label5 {	@include elemAutoWidth(167);
}
#vkDialogProtect_Label5 {	@include elemAutoHeight(21);
}
#vkDialogProtect_Label5 {	z-index: 9;
}
#vkDialogProtect_Label5 {	@include font-weight-bold(true);
}
#vkDialogProtect_Line1 {	z-index: 10;
}
