@import "mixins.scss";
#vkGaugePanel_Paper1 {	@include elemTop(48);
}
#vkGaugePanel_Paper1 {	@include elemLeft(81);
}
#vkGaugePanel_Paper1 {	@include elemWidth(174);
}
#vkGaugePanel_Paper1 {	@include elemHeight(174);
}
#vkGaugePanel_Paper1 {	z-index: 0;
}
#vkGaugePanel_Paper1 {	border-width: 0px;
}
#vkGaugePanel_Paper1 {	border-style: none;
}
#vkGaugePanel_Paper2 {	@include elemTop(51);
}
#vkGaugePanel_Paper2 {	@include elemLeft(354);
}
#vkGaugePanel_Paper2 {	@include elemWidth(174);
}
#vkGaugePanel_Paper2 {	@include elemHeight(174);
}
#vkGaugePanel_Paper2 {	z-index: 1;
}
#vkGaugePanel_Paper2 {	border-width: 0px;
}
#vkGaugePanel_Paper2 {	border-style: none;
}
#vkGaugePanel_NumericOutput1 {	@include elemAutoHeight(30);
}
#vkGaugePanel_NumericOutput1 {	@include elemTop(186);
}
#vkGaugePanel_NumericOutput1 {	@include elemLeft(102);
}
#vkGaugePanel_NumericOutput1 {	@include elemAutoWidth(75);
}
#vkGaugePanel_NumericOutput1 {	z-index: 2;
}
#vkGaugePanel_NumericOutput1 {	input {
		color: rgba(255, 0, 0, 1);
	}
}
#vkGaugePanel_NumericOutput1 {	span.breaseNumericOutput_unit {
		color: rgba(255, 0, 0, 1);
	}
}
#vkGaugePanel_NumericOutput1 {	input {
		@include text-alignment(right);
	}
}
#vkGaugePanel_NumericOutput1 {	padding: 0px 0px 0px 0px;
}
#vkGaugePanel_NumericOutput2 {	@include elemAutoHeight(30);
}
#vkGaugePanel_NumericOutput2 {	@include elemTop(186);
}
#vkGaugePanel_NumericOutput2 {	@include elemLeft(375);
}
#vkGaugePanel_NumericOutput2 {	@include elemAutoWidth(75);
}
#vkGaugePanel_NumericOutput2 {	z-index: 3;
}
#vkGaugePanel_NumericOutput2 {	input {
		color: rgba(255, 0, 0, 1);
	}
}
#vkGaugePanel_NumericOutput2 {	span.breaseNumericOutput_unit {
		color: rgba(255, 0, 0, 1);
	}
}
#vkGaugePanel_NumericOutput2 {	input {
		@include text-alignment(right);
	}
}
#vkGaugePanel_NumericOutput2 {	padding: 0px 0px 0px 0px;
}
#vkGaugePanel_Label2 {	@include elemTop(12);
}
#vkGaugePanel_Label2 {	@include elemLeft(81);
}
#vkGaugePanel_Label2 {	@include elemAutoWidth(174);
}
#vkGaugePanel_Label2 {	@include elemAutoHeight(40);
}
#vkGaugePanel_Label2 {	z-index: 5;
}
#vkGaugePanel_Label2 {	@include text-alignment-all('center');
}
#vkGaugePanel_Label2 {	@include font-weight-bold(true);
}
#vkGaugePanel_Label3 {	@include elemTop(14);
}
#vkGaugePanel_Label3 {	@include elemLeft(354);
}
#vkGaugePanel_Label3 {	@include elemAutoWidth(174);
}
#vkGaugePanel_Label3 {	@include elemAutoHeight(40);
}
#vkGaugePanel_Label3 {	z-index: 4;
}
#vkGaugePanel_Label3 {	@include text-alignment-all('center');
}
#vkGaugePanel_Label3 {	@include font-weight-bold(true);
}
#vkGaugePanel_Paper3 {	@include elemTop(50);
}
#vkGaugePanel_Paper3 {	@include elemLeft(627);
}
#vkGaugePanel_Paper3 {	@include elemWidth(174);
}
#vkGaugePanel_Paper3 {	@include elemHeight(174);
}
#vkGaugePanel_Paper3 {	z-index: 6;
}
#vkGaugePanel_Paper3 {	border-style: none;
}
#vkGaugePanel_Paper4 {	@include elemTop(48);
}
#vkGaugePanel_Paper4 {	@include elemLeft(900);
}
#vkGaugePanel_Paper4 {	@include elemWidth(174);
}
#vkGaugePanel_Paper4 {	@include elemHeight(174);
}
#vkGaugePanel_Paper4 {	z-index: 7;
}
#vkGaugePanel_Paper4 {	border-style: none;
}
#vkGaugePanel_NumericOutput3 {	@include elemAutoHeight(30);
}
#vkGaugePanel_NumericOutput3 {	@include elemTop(186);
}
#vkGaugePanel_NumericOutput3 {	@include elemLeft(652);
}
#vkGaugePanel_NumericOutput3 {	@include elemAutoWidth(75);
}
#vkGaugePanel_NumericOutput3 {	z-index: 8;
}
#vkGaugePanel_NumericOutput3 {	input {
		color: rgba(255, 0, 0, 1);
	}
}
#vkGaugePanel_NumericOutput3 {	span.breaseNumericOutput_unit {
		color: rgba(255, 0, 0, 1);
	}
}
#vkGaugePanel_NumericOutput3 {	input {
		@include text-alignment(right);
	}
}
#vkGaugePanel_NumericOutput3 {	padding: 0px 0px 0px 0px;
}
#vkGaugePanel_NumericOutput4 {	@include elemAutoHeight(30);
}
#vkGaugePanel_NumericOutput4 {	@include elemTop(186);
}
#vkGaugePanel_NumericOutput4 {	@include elemLeft(925);
}
#vkGaugePanel_NumericOutput4 {	@include elemAutoWidth(75);
}
#vkGaugePanel_NumericOutput4 {	z-index: 9;
}
#vkGaugePanel_NumericOutput4 {	input {
		color: rgba(255, 0, 0, 1);
	}
}
#vkGaugePanel_NumericOutput4 {	span.breaseNumericOutput_unit {
		color: rgba(255, 0, 0, 1);
	}
}
#vkGaugePanel_NumericOutput4 {	input {
		@include text-alignment(right);
	}
}
#vkGaugePanel_NumericOutput4 {	padding: 0px 0px 0px 0px;
}
#vkGaugePanel_Label4 {	@include elemTop(14);
}
#vkGaugePanel_Label4 {	@include elemLeft(627);
}
#vkGaugePanel_Label4 {	@include elemAutoWidth(174);
}
#vkGaugePanel_Label4 {	@include elemAutoHeight(40);
}
#vkGaugePanel_Label4 {	z-index: 11;
}
#vkGaugePanel_Label4 {	@include text-alignment-all('center');
}
#vkGaugePanel_Label4 {	@include font-weight-bold(true);
}
#vkGaugePanel_Label5 {	@include elemTop(12);
}
#vkGaugePanel_Label5 {	@include elemLeft(900);
}
#vkGaugePanel_Label5 {	@include elemAutoWidth(174);
}
#vkGaugePanel_Label5 {	@include elemAutoHeight(40);
}
#vkGaugePanel_Label5 {	z-index: 10;
}
#vkGaugePanel_Label5 {	@include text-alignment-all('center');
}
#vkGaugePanel_Label5 {	@include font-weight-bold(true);
}
#vkGaugePanel_ButtonBar1 {	@include elemHeight(30);
}
#vkGaugePanel_ButtonBar1 {	@include elemTop(238);
}
#vkGaugePanel_ButtonBar1 {	@include elemLeft(20);
}
#vkGaugePanel_ButtonBar1 {	@include elemWidth(1120);
}
#vkGaugePanel_ButtonBar1 {	z-index: 12;
}
#vkGaugePanel_tbSysyem {	@include elemAutoHeight(30);
}
#vkGaugePanel_tbSysyem {	@include elemTop(0);
}
#vkGaugePanel_tbSysyem {	@include elemLeft(0);
}
#vkGaugePanel_tbSysyem {	@include elemAutoWidth(95);
}
#vkGaugePanel_tbSysyem {	z-index: 0;
}
#vkGaugePanel_tbSysyem {	@include border-radius(0px);
}
#vkGaugePanel_tbSysyem {	&:not(.active):not(.checked) {
		@include box-shadow(4px 4px 14px rgba(255, 255, 255, 0));
	}
}
#vkGaugePanel_tbSysyem {	&.disabled.active {
		@include box-shadow(4px 4px 14px rgba(255, 255, 255, 0));
	}
}
#vkGaugePanel_tbSysyem {	&.disabled.checked {
		@include box-shadow(4px 4px 14px rgba(255, 255, 255, 0));
	}
}
#vkGaugePanel_tbRack01 {	@include elemAutoHeight(30);
}
#vkGaugePanel_tbRack01 {	@include elemTop(0);
}
#vkGaugePanel_tbRack01 {	@include elemLeft(0);
}
#vkGaugePanel_tbRack01 {	@include elemAutoWidth(85);
}
#vkGaugePanel_tbRack01 {	z-index: 1;
}
#vkGaugePanel_tbRack01 {	@include border-radius(0px);
}
#vkGaugePanel_tbRack01 {	padding: 0px;
}
#vkGaugePanel_tbRack01 {	&:not(.active):not(.checked) {
		@include box-shadow(4px 4px 14px rgba(255, 255, 255, 0));
	}
}
#vkGaugePanel_tbRack01 {	&.disabled.active {
		@include box-shadow(4px 4px 14px rgba(255, 255, 255, 0));
	}
}
#vkGaugePanel_tbRack01 {	&.disabled.checked {
		@include box-shadow(4px 4px 14px rgba(255, 255, 255, 0));
	}
}
#vkGaugePanel_tbRack02 {	@include elemAutoHeight(30);
}
#vkGaugePanel_tbRack02 {	@include elemTop(0);
}
#vkGaugePanel_tbRack02 {	@include elemLeft(0);
}
#vkGaugePanel_tbRack02 {	@include elemAutoWidth(85);
}
#vkGaugePanel_tbRack02 {	z-index: 2;
}
#vkGaugePanel_tbRack02 {	@include border-radius(0px);
}
#vkGaugePanel_tbRack02 {	padding: 0px;
}
#vkGaugePanel_tbRack02 {	&:not(.active):not(.checked) {
		@include box-shadow(4px 4px 14px rgba(255, 255, 255, 0));
	}
}
#vkGaugePanel_tbRack02 {	&.disabled.active {
		@include box-shadow(4px 4px 14px rgba(255, 255, 255, 0));
	}
}
#vkGaugePanel_tbRack02 {	&.disabled.checked {
		@include box-shadow(4px 4px 14px rgba(255, 255, 255, 0));
	}
}
#vkGaugePanel_tbRack03 {	@include elemAutoHeight(30);
}
#vkGaugePanel_tbRack03 {	@include elemTop(0);
}
#vkGaugePanel_tbRack03 {	@include elemLeft(0);
}
#vkGaugePanel_tbRack03 {	@include elemAutoWidth(85);
}
#vkGaugePanel_tbRack03 {	z-index: 3;
}
#vkGaugePanel_tbRack03 {	@include border-radius(0px);
}
#vkGaugePanel_tbRack03 {	padding: 0px;
}
#vkGaugePanel_tbRack03 {	&:not(.active):not(.checked) {
		@include box-shadow(4px 4px 14px rgba(255, 255, 255, 0));
	}
}
#vkGaugePanel_tbRack03 {	&.disabled.active {
		@include box-shadow(4px 4px 14px rgba(255, 255, 255, 0));
	}
}
#vkGaugePanel_tbRack03 {	&.disabled.checked {
		@include box-shadow(4px 4px 14px rgba(255, 255, 255, 0));
	}
}
#vkGaugePanel_tbRack04 {	@include elemAutoHeight(30);
}
#vkGaugePanel_tbRack04 {	@include elemTop(0);
}
#vkGaugePanel_tbRack04 {	@include elemLeft(0);
}
#vkGaugePanel_tbRack04 {	@include elemAutoWidth(85);
}
#vkGaugePanel_tbRack04 {	z-index: 4;
}
#vkGaugePanel_tbRack04 {	@include border-radius(0px);
}
#vkGaugePanel_tbRack04 {	padding: 0px;
}
#vkGaugePanel_tbRack04 {	&:not(.active):not(.checked) {
		@include box-shadow(4px 4px 14px rgba(255, 255, 255, 0));
	}
}
#vkGaugePanel_tbRack04 {	&.disabled.active {
		@include box-shadow(4px 4px 14px rgba(255, 255, 255, 0));
	}
}
#vkGaugePanel_tbRack04 {	&.disabled.checked {
		@include box-shadow(4px 4px 14px rgba(255, 255, 255, 0));
	}
}
#vkGaugePanel_tbRack05 {	@include elemAutoHeight(30);
}
#vkGaugePanel_tbRack05 {	@include elemTop(0);
}
#vkGaugePanel_tbRack05 {	@include elemLeft(0);
}
#vkGaugePanel_tbRack05 {	@include elemAutoWidth(85);
}
#vkGaugePanel_tbRack05 {	z-index: 5;
}
#vkGaugePanel_tbRack05 {	@include border-radius(0px);
}
#vkGaugePanel_tbRack05 {	padding: 0px;
}
#vkGaugePanel_tbRack05 {	&:not(.active):not(.checked) {
		@include box-shadow(4px 4px 14px rgba(255, 255, 255, 0));
	}
}
#vkGaugePanel_tbRack05 {	&.disabled.active {
		@include box-shadow(4px 4px 14px rgba(255, 255, 255, 0));
	}
}
#vkGaugePanel_tbRack05 {	&.disabled.checked {
		@include box-shadow(4px 4px 14px rgba(255, 255, 255, 0));
	}
}
#vkGaugePanel_tbRack06 {	@include elemAutoHeight(30);
}
#vkGaugePanel_tbRack06 {	@include elemTop(0);
}
#vkGaugePanel_tbRack06 {	@include elemLeft(0);
}
#vkGaugePanel_tbRack06 {	@include elemAutoWidth(85);
}
#vkGaugePanel_tbRack06 {	z-index: 6;
}
#vkGaugePanel_tbRack06 {	@include border-radius(0px);
}
#vkGaugePanel_tbRack06 {	padding: 0px;
}
#vkGaugePanel_tbRack06 {	&:not(.active):not(.checked) {
		@include box-shadow(4px 4px 14px rgba(255, 255, 255, 0));
	}
}
#vkGaugePanel_tbRack06 {	&.disabled.active {
		@include box-shadow(4px 4px 14px rgba(255, 255, 255, 0));
	}
}
#vkGaugePanel_tbRack06 {	&.disabled.checked {
		@include box-shadow(4px 4px 14px rgba(255, 255, 255, 0));
	}
}
#vkGaugePanel_tbRack07 {	@include elemAutoHeight(30);
}
#vkGaugePanel_tbRack07 {	@include elemTop(0);
}
#vkGaugePanel_tbRack07 {	@include elemLeft(0);
}
#vkGaugePanel_tbRack07 {	@include elemAutoWidth(85);
}
#vkGaugePanel_tbRack07 {	z-index: 7;
}
#vkGaugePanel_tbRack07 {	@include border-radius(0px);
}
#vkGaugePanel_tbRack07 {	padding: 0px;
}
#vkGaugePanel_tbRack07 {	&:not(.active):not(.checked) {
		@include box-shadow(4px 4px 14px rgba(255, 255, 255, 0));
	}
}
#vkGaugePanel_tbRack07 {	&.disabled.active {
		@include box-shadow(4px 4px 14px rgba(255, 255, 255, 0));
	}
}
#vkGaugePanel_tbRack07 {	&.disabled.checked {
		@include box-shadow(4px 4px 14px rgba(255, 255, 255, 0));
	}
}
#vkGaugePanel_tbRack08 {	@include elemAutoHeight(30);
}
#vkGaugePanel_tbRack08 {	@include elemTop(0);
}
#vkGaugePanel_tbRack08 {	@include elemLeft(0);
}
#vkGaugePanel_tbRack08 {	@include elemAutoWidth(85);
}
#vkGaugePanel_tbRack08 {	z-index: 8;
}
#vkGaugePanel_tbRack08 {	@include border-radius(0px);
}
#vkGaugePanel_tbRack08 {	padding: 0px;
}
#vkGaugePanel_tbRack08 {	&:not(.active):not(.checked) {
		@include box-shadow(4px 4px 14px rgba(255, 255, 255, 0));
	}
}
#vkGaugePanel_tbRack08 {	&.disabled.active {
		@include box-shadow(4px 4px 14px rgba(255, 255, 255, 0));
	}
}
#vkGaugePanel_tbRack08 {	&.disabled.checked {
		@include box-shadow(4px 4px 14px rgba(255, 255, 255, 0));
	}
}
#vkGaugePanel_tbRack09 {	@include elemAutoHeight(30);
}
#vkGaugePanel_tbRack09 {	@include elemTop(0);
}
#vkGaugePanel_tbRack09 {	@include elemLeft(0);
}
#vkGaugePanel_tbRack09 {	@include elemAutoWidth(85);
}
#vkGaugePanel_tbRack09 {	z-index: 9;
}
#vkGaugePanel_tbRack09 {	@include border-radius(0px);
}
#vkGaugePanel_tbRack09 {	padding: 0px;
}
#vkGaugePanel_tbRack09 {	&:not(.active):not(.checked) {
		@include box-shadow(4px 4px 14px rgba(255, 255, 255, 0));
	}
}
#vkGaugePanel_tbRack09 {	&.disabled.active {
		@include box-shadow(4px 4px 14px rgba(255, 255, 255, 0));
	}
}
#vkGaugePanel_tbRack09 {	&.disabled.checked {
		@include box-shadow(4px 4px 14px rgba(255, 255, 255, 0));
	}
}
#vkGaugePanel_tbRack10 {	@include elemAutoHeight(30);
}
#vkGaugePanel_tbRack10 {	@include elemTop(0);
}
#vkGaugePanel_tbRack10 {	@include elemLeft(0);
}
#vkGaugePanel_tbRack10 {	@include elemAutoWidth(85);
}
#vkGaugePanel_tbRack10 {	z-index: 10;
}
#vkGaugePanel_tbRack10 {	@include border-radius(0px);
}
#vkGaugePanel_tbRack10 {	padding: 0px;
}
#vkGaugePanel_tbRack10 {	&:not(.active):not(.checked) {
		@include box-shadow(4px 4px 14px rgba(255, 255, 255, 0));
	}
}
#vkGaugePanel_tbRack10 {	&.disabled.active {
		@include box-shadow(4px 4px 14px rgba(255, 255, 255, 0));
	}
}
#vkGaugePanel_tbRack10 {	&.disabled.checked {
		@include box-shadow(4px 4px 14px rgba(255, 255, 255, 0));
	}
}
#vkGaugePanel_tbFailureHistory {	@include elemAutoHeight(30);
}
#vkGaugePanel_tbFailureHistory {	@include elemTop(0);
}
#vkGaugePanel_tbFailureHistory {	@include elemLeft(0);
}
#vkGaugePanel_tbFailureHistory {	@include elemAutoWidth(175);
}
#vkGaugePanel_tbFailureHistory {	z-index: 11;
}
#vkGaugePanel_tbFailureHistory {	@include border-radius(0px);
}
#vkGaugePanel_tbFailureHistory {	padding: 0px;
}
#vkGaugePanel_tbFailureHistory {	&:not(.active):not(.checked) {
		@include box-shadow(4px 4px 14px rgba(255, 255, 255, 0));
	}
}
#vkGaugePanel_tbFailureHistory {	&.disabled.active {
		@include box-shadow(4px 4px 14px rgba(255, 255, 255, 0));
	}
}
#vkGaugePanel_tbFailureHistory {	&.disabled.checked {
		@include box-shadow(4px 4px 14px rgba(255, 255, 255, 0));
	}
}
#vkGaugePanel_Label1 {	@include elemAutoHeight(30);
}
#vkGaugePanel_Label1 {	@include elemTop(186);
}
#vkGaugePanel_Label1 {	@include elemLeft(176);
}
#vkGaugePanel_Label1 {	@include elemAutoWidth(30);
}
#vkGaugePanel_Label1 {	z-index: 13;
}
#vkGaugePanel_Label1 {	& span {
		color: rgba(0, 0, 0, 1);
	}
}
#vkGaugePanel_Label6 {	@include elemAutoHeight(30);
}
#vkGaugePanel_Label6 {	@include elemTop(186);
}
#vkGaugePanel_Label6 {	@include elemLeft(450);
}
#vkGaugePanel_Label6 {	@include elemAutoWidth(30);
}
#vkGaugePanel_Label6 {	z-index: 14;
}
#vkGaugePanel_Label6 {	& span {
		color: rgba(0, 0, 0, 1);
	}
}
#vkGaugePanel_Label7 {	@include elemAutoHeight(30);
}
#vkGaugePanel_Label7 {	@include elemTop(186);
}
#vkGaugePanel_Label7 {	@include elemLeft(728);
}
#vkGaugePanel_Label7 {	@include elemAutoWidth(30);
}
#vkGaugePanel_Label7 {	z-index: 15;
}
#vkGaugePanel_Label7 {	& span {
		color: rgba(0, 0, 0, 1);
	}
}
#vkGaugePanel_Label8 {	@include elemAutoHeight(30);
}
#vkGaugePanel_Label8 {	@include elemTop(186);
}
#vkGaugePanel_Label8 {	@include elemLeft(1002);
}
#vkGaugePanel_Label8 {	@include elemAutoWidth(30);
}
#vkGaugePanel_Label8 {	z-index: 16;
}
#vkGaugePanel_Label8 {	& span {
		color: rgba(0, 0, 0, 1);
	}
}
#vkGaugePanel_Rectangle1 {	@include elemTop(238);
}
#vkGaugePanel_Rectangle1 {	@include elemLeft(20);
}
#vkGaugePanel_Rectangle1 {	@include elemWidth(1120);
}
#vkGaugePanel_Rectangle1 {	@include elemHeight(30);
}
#vkGaugePanel_Rectangle1 {	z-index: 17;
}
