@import "mixins.scss";
#vkNavigation_bbNavigation {	@include elemTop(0);
}
#vkNavigation_bbNavigation {	@include elemLeft(5);
}
#vkNavigation_bbNavigation {	@include elemWidth(196);
}
#vkNavigation_bbNavigation {	@include elemHeight(648);
}
#vkNavigation_bbNavigation {	z-index: 0;
}
#vkNavigation_tbBatterySystem {	@include elemAutoHeight(30);
}
#vkNavigation_tbBatterySystem {	@include elemTop(24);
}
#vkNavigation_tbBatterySystem {	@include elemLeft(2);
}
#vkNavigation_tbBatterySystem {	@include elemAutoWidth(194);
}
#vkNavigation_tbBatterySystem {	z-index: 0;
}
#vkNavigation_tbBatterySystem {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(255, 255, 255, 0);
	}
}
#vkNavigation_tbBatterySystem {	&.disabled:not(.checked) {
		background-color: rgba(255, 255, 255, 0);
	}
}
#vkNavigation_tbBatterySystem {	&:not(.disabled):not(.checked) {
		border-color: rgba(255, 255, 255, 0);
	}
}
#vkNavigation_tbBatterySystem {	padding: 0px 0px;
}
#vkNavigation_tbBatterySystem {	&.checked:not(.disabled):not(.active) span {
		color: rgba(1, 112, 192, 1);
	}
}
#vkNavigation_tbBatterySystem {	&.checked:not(.active):not(.disabled) {
		border-color: rgba(255, 255, 255, 0);
	}
}
#vkNavigation_tbBatterySystem {	&.disabled.checked {
		background-color: rgba(255, 255, 255, 0);
	}
}
#vkNavigation_tbFailureHistory {	@include elemAutoHeight(30);
}
#vkNavigation_tbFailureHistory {	@include elemTop(74);
}
#vkNavigation_tbFailureHistory {	@include elemLeft(2);
}
#vkNavigation_tbFailureHistory {	@include elemAutoWidth(194);
}
#vkNavigation_tbFailureHistory {	z-index: 5;
}
#vkNavigation_tbFailureHistory {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(255, 255, 255, 0);
	}
}
#vkNavigation_tbFailureHistory {	&.disabled:not(.checked) {
		background-color: rgba(255, 255, 255, 0);
	}
}
#vkNavigation_tbFailureHistory {	&:not(.disabled):not(.checked) {
		border-color: rgba(255, 255, 255, 0);
	}
}
#vkNavigation_tbFailureHistory {	padding: 0px 0px;
}
#vkNavigation_tbFailureHistory {	&.checked:not(.disabled):not(.active) span {
		color: rgba(1, 112, 192, 1);
	}
}
#vkNavigation_tbFailureHistory {	&.checked:not(.active):not(.disabled) {
		border-color: rgba(255, 255, 255, 0);
	}
}
#vkNavigation_tbFailureHistory {	&.disabled.checked {
		background-color: rgba(255, 255, 255, 0);
	}
}
#vkNavigation_tbBatteryRack01 {	@include elemAutoHeight(30);
}
#vkNavigation_tbBatteryRack01 {	@include elemTop(124);
}
#vkNavigation_tbBatteryRack01 {	@include elemLeft(2);
}
#vkNavigation_tbBatteryRack01 {	@include elemAutoWidth(194);
}
#vkNavigation_tbBatteryRack01 {	z-index: 1;
}
#vkNavigation_tbBatteryRack01 {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(255, 255, 255, 0);
	}
}
#vkNavigation_tbBatteryRack01 {	&.disabled:not(.checked) {
		background-color: rgba(255, 255, 255, 0);
	}
}
#vkNavigation_tbBatteryRack01 {	&:not(.disabled):not(.checked) {
		border-color: rgba(255, 255, 255, 0);
	}
}
#vkNavigation_tbBatteryRack01 {	padding: 0px 0px;
}
#vkNavigation_tbBatteryRack01 {	margin: 0px;
}
#vkNavigation_tbBatteryRack01 {	&.checked:not(.disabled):not(.active) span {
		color: rgba(1, 112, 192, 1);
	}
}
#vkNavigation_tbBatteryRack02 {	@include elemAutoHeight(30);
}
#vkNavigation_tbBatteryRack02 {	@include elemTop(174);
}
#vkNavigation_tbBatteryRack02 {	@include elemLeft(2);
}
#vkNavigation_tbBatteryRack02 {	@include elemAutoWidth(194);
}
#vkNavigation_tbBatteryRack02 {	z-index: 2;
}
#vkNavigation_tbBatteryRack02 {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(255, 255, 255, 0);
	}
}
#vkNavigation_tbBatteryRack02 {	&.disabled:not(.checked) {
		background-color: rgba(255, 255, 255, 0);
	}
}
#vkNavigation_tbBatteryRack02 {	&:not(.disabled):not(.checked) {
		border-color: rgba(255, 255, 255, 0);
	}
}
#vkNavigation_tbBatteryRack02 {	padding: 0px 0px;
}
#vkNavigation_tbBatteryRack02 {	&.checked:not(.disabled):not(.active) span {
		color: rgba(1, 112, 192, 1);
	}
}
#vkNavigation_tbBatteryRack03 {	@include elemAutoHeight(30);
}
#vkNavigation_tbBatteryRack03 {	@include elemTop(224);
}
#vkNavigation_tbBatteryRack03 {	@include elemLeft(2);
}
#vkNavigation_tbBatteryRack03 {	@include elemAutoWidth(194);
}
#vkNavigation_tbBatteryRack03 {	z-index: 3;
}
#vkNavigation_tbBatteryRack03 {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(255, 255, 255, 0);
	}
}
#vkNavigation_tbBatteryRack03 {	&.disabled:not(.checked) {
		background-color: rgba(255, 255, 255, 0);
	}
}
#vkNavigation_tbBatteryRack03 {	&:not(.disabled):not(.checked) {
		border-color: rgba(255, 255, 255, 0);
	}
}
#vkNavigation_tbBatteryRack03 {	padding: 0px 0px;
}
#vkNavigation_tbBatteryRack03 {	margin: 0px;
}
#vkNavigation_tbBatteryRack03 {	&.checked:not(.disabled):not(.active) span {
		color: rgba(1, 112, 192, 1);
	}
}
#vkNavigation_tbBatteryRack04 {	@include elemAutoHeight(30);
}
#vkNavigation_tbBatteryRack04 {	@include elemTop(274);
}
#vkNavigation_tbBatteryRack04 {	@include elemLeft(2);
}
#vkNavigation_tbBatteryRack04 {	@include elemAutoWidth(194);
}
#vkNavigation_tbBatteryRack04 {	z-index: 4;
}
#vkNavigation_tbBatteryRack04 {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(255, 255, 255, 0);
	}
}
#vkNavigation_tbBatteryRack04 {	&.disabled:not(.checked) {
		background-color: rgba(255, 255, 255, 0);
	}
}
#vkNavigation_tbBatteryRack04 {	&:not(.disabled):not(.checked) {
		border-color: rgba(255, 255, 255, 0);
	}
}
#vkNavigation_tbBatteryRack04 {	&.disabled:not(.active):not(.checked) {
		border-color: rgba(255, 255, 255, 0);
	}
}
#vkNavigation_tbBatteryRack04 {	padding: 0px 0px;
}
#vkNavigation_tbBatteryRack04 {	&.checked:not(.disabled):not(.active) span {
		color: rgba(1, 112, 192, 1);
	}
}
#vkNavigation_tbBatteryRack04 {	&.disabled.checked {
		background-color: rgba(255, 255, 255, 0);
	}
}
#vkNavigation_tbBatteryRack04 {	&.disabled.checked {
		border-color: rgba(255, 255, 255, 0);
	}
}
