@import "mixins.scss";
#vkAlarmLEDPanel_gbLabel2 {	@include elemTop(0);
}
#vkAlarmLEDPanel_gbLabel2 {	@include elemLeft(20);
}
#vkAlarmLEDPanel_gbLabel2 {	@include elemWidth(168);
}
#vkAlarmLEDPanel_gbLabel2 {	@include elemHeight(372);
}
#vkAlarmLEDPanel_gbLabel2 {	z-index: 0;
}
#vkAlarmLEDPanel_gbLabel2 {	border-width: 0px;
}
#vkAlarmLEDPanel_gbLabel2 {	> .header {
		border-width: 0px;
	}
}
#vkAlarmLEDPanel_gbLabel2 {	border-style: none;
}
#vkAlarmLEDPanel_gbLabel2 {	> .header {
		border-bottom-style: none;
	}
}
#vkAlarmLEDPanel_gbLabel2 {	@include box-shadow(0px 0px rgba(62, 79, 92, 0.75));
}
#vkAlarmLEDPanel_Ellipse23 {	@include elemTop(5);
}
#vkAlarmLEDPanel_Ellipse23 {	@include elemLeft(6);
}
#vkAlarmLEDPanel_Ellipse23 {	@include elemWidth(12);
}
#vkAlarmLEDPanel_Ellipse23 {	@include elemHeight(12);
}
#vkAlarmLEDPanel_Ellipse23 {	z-index: 0;
}
#vkAlarmLEDPanel_Ellipse23 {	border-style: solid;
}
#vkAlarmLEDPanel_lb35 {	@include elemTop(6);
}
#vkAlarmLEDPanel_lb35 {	@include elemLeft(26);
}
#vkAlarmLEDPanel_lb35 {	@include elemAutoWidth(122);
}
#vkAlarmLEDPanel_lb35 {	@include elemAutoHeight(10);
}
#vkAlarmLEDPanel_lb35 {	z-index: 1;
}
#vkAlarmLEDPanel_lb35 {	& span {
		color: rgba(0, 0, 0, 1);
	}
}
#vkAlarmLEDPanel_lb35 {	font-size: 10px;
}
#vkAlarmLEDPanel_lb35 {	@include font-weight-bold(true);
}
#vkAlarmLEDPanel_lb35 {	span {
		padding: 0px;
	}
}
#vkAlarmLEDPanel_lb35 {	margin: 0px;
}
#vkAlarmLEDPanel_Ellipse24 {	@include elemTop(23);
}
#vkAlarmLEDPanel_Ellipse24 {	@include elemLeft(6);
}
#vkAlarmLEDPanel_Ellipse24 {	@include elemWidth(12);
}
#vkAlarmLEDPanel_Ellipse24 {	@include elemHeight(12);
}
#vkAlarmLEDPanel_Ellipse24 {	z-index: 2;
}
#vkAlarmLEDPanel_Ellipse24 {	border-style: solid;
}
#vkAlarmLEDPanel_Ellipse25 {	@include elemTop(42);
}
#vkAlarmLEDPanel_Ellipse25 {	@include elemLeft(6);
}
#vkAlarmLEDPanel_Ellipse25 {	@include elemWidth(12);
}
#vkAlarmLEDPanel_Ellipse25 {	@include elemHeight(12);
}
#vkAlarmLEDPanel_Ellipse25 {	z-index: 3;
}
#vkAlarmLEDPanel_Ellipse25 {	border-style: solid;
}
#vkAlarmLEDPanel_Ellipse26 {	@include elemTop(60);
}
#vkAlarmLEDPanel_Ellipse26 {	@include elemLeft(6);
}
#vkAlarmLEDPanel_Ellipse26 {	@include elemWidth(12);
}
#vkAlarmLEDPanel_Ellipse26 {	@include elemHeight(12);
}
#vkAlarmLEDPanel_Ellipse26 {	z-index: 4;
}
#vkAlarmLEDPanel_Ellipse26 {	border-style: solid;
}
#vkAlarmLEDPanel_Ellipse27 {	@include elemTop(79);
}
#vkAlarmLEDPanel_Ellipse27 {	@include elemLeft(6);
}
#vkAlarmLEDPanel_Ellipse27 {	@include elemWidth(12);
}
#vkAlarmLEDPanel_Ellipse27 {	@include elemHeight(12);
}
#vkAlarmLEDPanel_Ellipse27 {	z-index: 5;
}
#vkAlarmLEDPanel_Ellipse27 {	border-style: solid;
}
#vkAlarmLEDPanel_Ellipse28 {	@include elemTop(97);
}
#vkAlarmLEDPanel_Ellipse28 {	@include elemLeft(6);
}
#vkAlarmLEDPanel_Ellipse28 {	@include elemWidth(12);
}
#vkAlarmLEDPanel_Ellipse28 {	@include elemHeight(12);
}
#vkAlarmLEDPanel_Ellipse28 {	z-index: 6;
}
#vkAlarmLEDPanel_Ellipse28 {	border-style: solid;
}
#vkAlarmLEDPanel_Ellipse29 {	@include elemTop(116);
}
#vkAlarmLEDPanel_Ellipse29 {	@include elemLeft(6);
}
#vkAlarmLEDPanel_Ellipse29 {	@include elemWidth(12);
}
#vkAlarmLEDPanel_Ellipse29 {	@include elemHeight(12);
}
#vkAlarmLEDPanel_Ellipse29 {	z-index: 7;
}
#vkAlarmLEDPanel_Ellipse29 {	border-style: solid;
}
#vkAlarmLEDPanel_Ellipse30 {	@include elemTop(134);
}
#vkAlarmLEDPanel_Ellipse30 {	@include elemLeft(6);
}
#vkAlarmLEDPanel_Ellipse30 {	@include elemWidth(12);
}
#vkAlarmLEDPanel_Ellipse30 {	@include elemHeight(12);
}
#vkAlarmLEDPanel_Ellipse30 {	z-index: 8;
}
#vkAlarmLEDPanel_Ellipse30 {	border-style: solid;
}
#vkAlarmLEDPanel_Ellipse31 {	@include elemTop(152);
}
#vkAlarmLEDPanel_Ellipse31 {	@include elemLeft(6);
}
#vkAlarmLEDPanel_Ellipse31 {	@include elemWidth(12);
}
#vkAlarmLEDPanel_Ellipse31 {	@include elemHeight(12);
}
#vkAlarmLEDPanel_Ellipse31 {	z-index: 9;
}
#vkAlarmLEDPanel_Ellipse31 {	border-style: solid;
}
#vkAlarmLEDPanel_Ellipse32 {	@include elemTop(171);
}
#vkAlarmLEDPanel_Ellipse32 {	@include elemLeft(6);
}
#vkAlarmLEDPanel_Ellipse32 {	@include elemWidth(12);
}
#vkAlarmLEDPanel_Ellipse32 {	@include elemHeight(12);
}
#vkAlarmLEDPanel_Ellipse32 {	z-index: 10;
}
#vkAlarmLEDPanel_Ellipse32 {	border-style: solid;
}
#vkAlarmLEDPanel_Ellipse33 {	@include elemTop(189);
}
#vkAlarmLEDPanel_Ellipse33 {	@include elemLeft(6);
}
#vkAlarmLEDPanel_Ellipse33 {	@include elemWidth(12);
}
#vkAlarmLEDPanel_Ellipse33 {	@include elemHeight(12);
}
#vkAlarmLEDPanel_Ellipse33 {	z-index: 11;
}
#vkAlarmLEDPanel_Ellipse33 {	border-style: solid;
}
#vkAlarmLEDPanel_Ellipse34 {	@include elemTop(208);
}
#vkAlarmLEDPanel_Ellipse34 {	@include elemLeft(6);
}
#vkAlarmLEDPanel_Ellipse34 {	@include elemWidth(12);
}
#vkAlarmLEDPanel_Ellipse34 {	@include elemHeight(12);
}
#vkAlarmLEDPanel_Ellipse34 {	z-index: 12;
}
#vkAlarmLEDPanel_Ellipse34 {	border-style: solid;
}
#vkAlarmLEDPanel_lb36 {	@include elemTop(24);
}
#vkAlarmLEDPanel_lb36 {	@include elemLeft(26);
}
#vkAlarmLEDPanel_lb36 {	@include elemAutoWidth(122);
}
#vkAlarmLEDPanel_lb36 {	@include elemAutoHeight(10);
}
#vkAlarmLEDPanel_lb36 {	z-index: 13;
}
#vkAlarmLEDPanel_lb36 {	& span {
		color: rgba(0, 0, 0, 1);
	}
}
#vkAlarmLEDPanel_lb36 {	font-size: 10px;
}
#vkAlarmLEDPanel_lb36 {	@include font-weight-bold(true);
}
#vkAlarmLEDPanel_lb36 {	span {
		padding: 0px;
	}
}
#vkAlarmLEDPanel_lb36 {	margin: 0px;
}
#vkAlarmLEDPanel_lb37 {	@include elemTop(43);
}
#vkAlarmLEDPanel_lb37 {	@include elemLeft(26);
}
#vkAlarmLEDPanel_lb37 {	@include elemAutoWidth(122);
}
#vkAlarmLEDPanel_lb37 {	@include elemAutoHeight(10);
}
#vkAlarmLEDPanel_lb37 {	z-index: 14;
}
#vkAlarmLEDPanel_lb37 {	& span {
		color: rgba(0, 0, 0, 1);
	}
}
#vkAlarmLEDPanel_lb37 {	font-size: 10px;
}
#vkAlarmLEDPanel_lb37 {	@include font-weight-bold(true);
}
#vkAlarmLEDPanel_lb37 {	span {
		padding: 0px;
	}
}
#vkAlarmLEDPanel_lb37 {	margin: 0px;
}
#vkAlarmLEDPanel_lb38 {	@include elemTop(61);
}
#vkAlarmLEDPanel_lb38 {	@include elemLeft(26);
}
#vkAlarmLEDPanel_lb38 {	@include elemAutoWidth(122);
}
#vkAlarmLEDPanel_lb38 {	@include elemAutoHeight(10);
}
#vkAlarmLEDPanel_lb38 {	z-index: 15;
}
#vkAlarmLEDPanel_lb38 {	& span {
		color: rgba(0, 0, 0, 1);
	}
}
#vkAlarmLEDPanel_lb38 {	font-size: 10px;
}
#vkAlarmLEDPanel_lb38 {	@include font-weight-bold(true);
}
#vkAlarmLEDPanel_lb38 {	span {
		padding: 0px;
	}
}
#vkAlarmLEDPanel_lb38 {	margin: 0px;
}
#vkAlarmLEDPanel_lb39 {	@include elemTop(80);
}
#vkAlarmLEDPanel_lb39 {	@include elemLeft(26);
}
#vkAlarmLEDPanel_lb39 {	@include elemAutoWidth(122);
}
#vkAlarmLEDPanel_lb39 {	@include elemAutoHeight(10);
}
#vkAlarmLEDPanel_lb39 {	z-index: 16;
}
#vkAlarmLEDPanel_lb39 {	& span {
		color: rgba(0, 0, 0, 1);
	}
}
#vkAlarmLEDPanel_lb39 {	font-size: 10px;
}
#vkAlarmLEDPanel_lb39 {	@include font-weight-bold(true);
}
#vkAlarmLEDPanel_lb39 {	span {
		padding: 0px;
	}
}
#vkAlarmLEDPanel_lb39 {	margin: 0px;
}
#vkAlarmLEDPanel_lb40 {	@include elemTop(98);
}
#vkAlarmLEDPanel_lb40 {	@include elemLeft(26);
}
#vkAlarmLEDPanel_lb40 {	@include elemAutoWidth(122);
}
#vkAlarmLEDPanel_lb40 {	@include elemAutoHeight(10);
}
#vkAlarmLEDPanel_lb40 {	z-index: 17;
}
#vkAlarmLEDPanel_lb40 {	& span {
		color: rgba(0, 0, 0, 1);
	}
}
#vkAlarmLEDPanel_lb40 {	font-size: 10px;
}
#vkAlarmLEDPanel_lb40 {	@include font-weight-bold(true);
}
#vkAlarmLEDPanel_lb40 {	span {
		padding: 0px;
	}
}
#vkAlarmLEDPanel_lb40 {	margin: 0px;
}
#vkAlarmLEDPanel_lb41 {	@include elemTop(117);
}
#vkAlarmLEDPanel_lb41 {	@include elemLeft(26);
}
#vkAlarmLEDPanel_lb41 {	@include elemAutoWidth(122);
}
#vkAlarmLEDPanel_lb41 {	@include elemAutoHeight(10);
}
#vkAlarmLEDPanel_lb41 {	z-index: 18;
}
#vkAlarmLEDPanel_lb41 {	& span {
		color: rgba(0, 0, 0, 1);
	}
}
#vkAlarmLEDPanel_lb41 {	font-size: 10px;
}
#vkAlarmLEDPanel_lb41 {	@include font-weight-bold(true);
}
#vkAlarmLEDPanel_lb41 {	span {
		padding: 0px;
	}
}
#vkAlarmLEDPanel_lb41 {	margin: 0px;
}
#vkAlarmLEDPanel_lb42 {	@include elemTop(135);
}
#vkAlarmLEDPanel_lb42 {	@include elemLeft(26);
}
#vkAlarmLEDPanel_lb42 {	@include elemAutoWidth(122);
}
#vkAlarmLEDPanel_lb42 {	@include elemAutoHeight(10);
}
#vkAlarmLEDPanel_lb42 {	z-index: 19;
}
#vkAlarmLEDPanel_lb42 {	& span {
		color: rgba(0, 0, 0, 1);
	}
}
#vkAlarmLEDPanel_lb42 {	font-size: 10px;
}
#vkAlarmLEDPanel_lb42 {	@include font-weight-bold(true);
}
#vkAlarmLEDPanel_lb42 {	span {
		padding: 0px;
	}
}
#vkAlarmLEDPanel_lb42 {	margin: 0px;
}
#vkAlarmLEDPanel_lb43 {	@include elemTop(153);
}
#vkAlarmLEDPanel_lb43 {	@include elemLeft(26);
}
#vkAlarmLEDPanel_lb43 {	@include elemAutoWidth(131);
}
#vkAlarmLEDPanel_lb43 {	@include elemAutoHeight(10);
}
#vkAlarmLEDPanel_lb43 {	z-index: 20;
}
#vkAlarmLEDPanel_lb43 {	& span {
		color: rgba(0, 0, 0, 1);
	}
}
#vkAlarmLEDPanel_lb43 {	font-size: 10px;
}
#vkAlarmLEDPanel_lb43 {	@include font-weight-bold(true);
}
#vkAlarmLEDPanel_lb43 {	span {
		padding: 0px;
	}
}
#vkAlarmLEDPanel_lb43 {	margin: 0px;
}
#vkAlarmLEDPanel_lb44 {	@include elemTop(172);
}
#vkAlarmLEDPanel_lb44 {	@include elemLeft(26);
}
#vkAlarmLEDPanel_lb44 {	@include elemAutoWidth(138);
}
#vkAlarmLEDPanel_lb44 {	@include elemAutoHeight(10);
}
#vkAlarmLEDPanel_lb44 {	z-index: 21;
}
#vkAlarmLEDPanel_lb44 {	& span {
		color: rgba(0, 0, 0, 1);
	}
}
#vkAlarmLEDPanel_lb44 {	font-size: 10px;
}
#vkAlarmLEDPanel_lb44 {	@include font-weight-bold(true);
}
#vkAlarmLEDPanel_lb44 {	span {
		padding: 0px;
	}
}
#vkAlarmLEDPanel_lb44 {	margin: 0px;
}
#vkAlarmLEDPanel_lb45 {	@include elemTop(190);
}
#vkAlarmLEDPanel_lb45 {	@include elemLeft(26);
}
#vkAlarmLEDPanel_lb45 {	@include elemAutoWidth(138);
}
#vkAlarmLEDPanel_lb45 {	@include elemAutoHeight(10);
}
#vkAlarmLEDPanel_lb45 {	z-index: 22;
}
#vkAlarmLEDPanel_lb45 {	& span {
		color: rgba(0, 0, 0, 1);
	}
}
#vkAlarmLEDPanel_lb45 {	font-size: 10px;
}
#vkAlarmLEDPanel_lb45 {	@include font-weight-bold(true);
}
#vkAlarmLEDPanel_lb45 {	span {
		padding: 0px;
	}
}
#vkAlarmLEDPanel_lb45 {	margin: 0px;
}
#vkAlarmLEDPanel_lb46 {	@include elemTop(209);
}
#vkAlarmLEDPanel_lb46 {	@include elemLeft(26);
}
#vkAlarmLEDPanel_lb46 {	@include elemAutoWidth(138);
}
#vkAlarmLEDPanel_lb46 {	@include elemAutoHeight(10);
}
#vkAlarmLEDPanel_lb46 {	z-index: 23;
}
#vkAlarmLEDPanel_lb46 {	& span {
		color: rgba(0, 0, 0, 1);
	}
}
#vkAlarmLEDPanel_lb46 {	font-size: 10px;
}
#vkAlarmLEDPanel_lb46 {	@include font-weight-bold(true);
}
#vkAlarmLEDPanel_lb46 {	span {
		padding: 0px;
	}
}
#vkAlarmLEDPanel_lb46 {	margin: 0px;
}
#vkAlarmLEDPanel_lb49 {	@include elemTop(227);
}
#vkAlarmLEDPanel_lb49 {	@include elemLeft(26);
}
#vkAlarmLEDPanel_lb49 {	@include elemAutoWidth(138);
}
#vkAlarmLEDPanel_lb49 {	@include elemAutoHeight(10);
}
#vkAlarmLEDPanel_lb49 {	z-index: 24;
}
#vkAlarmLEDPanel_lb49 {	& span {
		color: rgba(0, 0, 0, 1);
	}
}
#vkAlarmLEDPanel_lb49 {	font-size: 10px;
}
#vkAlarmLEDPanel_lb49 {	@include font-weight-bold(true);
}
#vkAlarmLEDPanel_lb49 {	span {
		padding: 0px;
	}
}
#vkAlarmLEDPanel_lb49 {	margin: 0px;
}
#vkAlarmLEDPanel_lb50 {	@include elemTop(245);
}
#vkAlarmLEDPanel_lb50 {	@include elemLeft(26);
}
#vkAlarmLEDPanel_lb50 {	@include elemAutoWidth(138);
}
#vkAlarmLEDPanel_lb50 {	@include elemAutoHeight(10);
}
#vkAlarmLEDPanel_lb50 {	z-index: 25;
}
#vkAlarmLEDPanel_lb50 {	& span {
		color: rgba(0, 0, 0, 1);
	}
}
#vkAlarmLEDPanel_lb50 {	font-size: 10px;
}
#vkAlarmLEDPanel_lb50 {	@include font-weight-bold(true);
}
#vkAlarmLEDPanel_lb50 {	span {
		padding: 0px;
	}
}
#vkAlarmLEDPanel_lb50 {	margin: 0px;
}
#vkAlarmLEDPanel_lb51 {	@include elemTop(264);
}
#vkAlarmLEDPanel_lb51 {	@include elemLeft(26);
}
#vkAlarmLEDPanel_lb51 {	@include elemAutoWidth(138);
}
#vkAlarmLEDPanel_lb51 {	@include elemAutoHeight(10);
}
#vkAlarmLEDPanel_lb51 {	z-index: 26;
}
#vkAlarmLEDPanel_lb51 {	& span {
		color: rgba(0, 0, 0, 1);
	}
}
#vkAlarmLEDPanel_lb51 {	font-size: 10px;
}
#vkAlarmLEDPanel_lb51 {	@include font-weight-bold(true);
}
#vkAlarmLEDPanel_lb51 {	span {
		padding: 0px;
	}
}
#vkAlarmLEDPanel_lb51 {	margin: 0px;
}
#vkAlarmLEDPanel_lb52 {	@include elemTop(282);
}
#vkAlarmLEDPanel_lb52 {	@include elemLeft(26);
}
#vkAlarmLEDPanel_lb52 {	@include elemAutoWidth(138);
}
#vkAlarmLEDPanel_lb52 {	@include elemAutoHeight(10);
}
#vkAlarmLEDPanel_lb52 {	z-index: 27;
}
#vkAlarmLEDPanel_lb52 {	& span {
		color: rgba(0, 0, 0, 1);
	}
}
#vkAlarmLEDPanel_lb52 {	font-size: 10px;
}
#vkAlarmLEDPanel_lb52 {	@include font-weight-bold(true);
}
#vkAlarmLEDPanel_lb52 {	span {
		padding: 0px;
	}
}
#vkAlarmLEDPanel_lb52 {	margin: 0px;
}
#vkAlarmLEDPanel_lb53 {	@include elemTop(301);
}
#vkAlarmLEDPanel_lb53 {	@include elemLeft(26);
}
#vkAlarmLEDPanel_lb53 {	@include elemAutoWidth(138);
}
#vkAlarmLEDPanel_lb53 {	@include elemAutoHeight(10);
}
#vkAlarmLEDPanel_lb53 {	z-index: 28;
}
#vkAlarmLEDPanel_lb53 {	& span {
		color: rgba(0, 0, 0, 1);
	}
}
#vkAlarmLEDPanel_lb53 {	font-size: 10px;
}
#vkAlarmLEDPanel_lb53 {	@include font-weight-bold(true);
}
#vkAlarmLEDPanel_lb53 {	span {
		padding: 0px;
	}
}
#vkAlarmLEDPanel_lb53 {	margin: 0px;
}
#vkAlarmLEDPanel_lb54 {	@include elemTop(319);
}
#vkAlarmLEDPanel_lb54 {	@include elemLeft(26);
}
#vkAlarmLEDPanel_lb54 {	@include elemAutoWidth(138);
}
#vkAlarmLEDPanel_lb54 {	@include elemAutoHeight(10);
}
#vkAlarmLEDPanel_lb54 {	z-index: 29;
}
#vkAlarmLEDPanel_lb54 {	& span {
		color: rgba(0, 0, 0, 1);
	}
}
#vkAlarmLEDPanel_lb54 {	font-size: 10px;
}
#vkAlarmLEDPanel_lb54 {	@include font-weight-bold(true);
}
#vkAlarmLEDPanel_lb54 {	span {
		padding: 0px;
	}
}
#vkAlarmLEDPanel_lb54 {	margin: 0px;
}
#vkAlarmLEDPanel_Ellipse35 {	@include elemTop(226);
}
#vkAlarmLEDPanel_Ellipse35 {	@include elemLeft(6);
}
#vkAlarmLEDPanel_Ellipse35 {	@include elemWidth(12);
}
#vkAlarmLEDPanel_Ellipse35 {	@include elemHeight(12);
}
#vkAlarmLEDPanel_Ellipse35 {	z-index: 30;
}
#vkAlarmLEDPanel_Ellipse35 {	border-style: solid;
}
#vkAlarmLEDPanel_Ellipse36 {	@include elemTop(244);
}
#vkAlarmLEDPanel_Ellipse36 {	@include elemLeft(6);
}
#vkAlarmLEDPanel_Ellipse36 {	@include elemWidth(12);
}
#vkAlarmLEDPanel_Ellipse36 {	@include elemHeight(12);
}
#vkAlarmLEDPanel_Ellipse36 {	z-index: 31;
}
#vkAlarmLEDPanel_Ellipse36 {	border-style: solid;
}
#vkAlarmLEDPanel_Ellipse37 {	@include elemTop(263);
}
#vkAlarmLEDPanel_Ellipse37 {	@include elemLeft(6);
}
#vkAlarmLEDPanel_Ellipse37 {	@include elemWidth(12);
}
#vkAlarmLEDPanel_Ellipse37 {	@include elemHeight(12);
}
#vkAlarmLEDPanel_Ellipse37 {	z-index: 32;
}
#vkAlarmLEDPanel_Ellipse37 {	border-style: solid;
}
#vkAlarmLEDPanel_Ellipse38 {	@include elemTop(281);
}
#vkAlarmLEDPanel_Ellipse38 {	@include elemLeft(6);
}
#vkAlarmLEDPanel_Ellipse38 {	@include elemWidth(12);
}
#vkAlarmLEDPanel_Ellipse38 {	@include elemHeight(12);
}
#vkAlarmLEDPanel_Ellipse38 {	z-index: 33;
}
#vkAlarmLEDPanel_Ellipse38 {	border-style: solid;
}
#vkAlarmLEDPanel_Ellipse39 {	@include elemTop(300);
}
#vkAlarmLEDPanel_Ellipse39 {	@include elemLeft(6);
}
#vkAlarmLEDPanel_Ellipse39 {	@include elemWidth(12);
}
#vkAlarmLEDPanel_Ellipse39 {	@include elemHeight(12);
}
#vkAlarmLEDPanel_Ellipse39 {	z-index: 34;
}
#vkAlarmLEDPanel_Ellipse39 {	border-style: solid;
}
#vkAlarmLEDPanel_Ellipse40 {	@include elemTop(318);
}
#vkAlarmLEDPanel_Ellipse40 {	@include elemLeft(6);
}
#vkAlarmLEDPanel_Ellipse40 {	@include elemWidth(12);
}
#vkAlarmLEDPanel_Ellipse40 {	@include elemHeight(12);
}
#vkAlarmLEDPanel_Ellipse40 {	z-index: 35;
}
#vkAlarmLEDPanel_Ellipse40 {	border-style: solid;
}
#vkAlarmLEDPanel_lb55 {	@include elemTop(337);
}
#vkAlarmLEDPanel_lb55 {	@include elemLeft(26);
}
#vkAlarmLEDPanel_lb55 {	@include elemAutoWidth(138);
}
#vkAlarmLEDPanel_lb55 {	@include elemAutoHeight(10);
}
#vkAlarmLEDPanel_lb55 {	z-index: 36;
}
#vkAlarmLEDPanel_lb55 {	& span {
		color: rgba(0, 0, 0, 1);
	}
}
#vkAlarmLEDPanel_lb55 {	font-size: 10px;
}
#vkAlarmLEDPanel_lb55 {	@include font-weight-bold(true);
}
#vkAlarmLEDPanel_lb55 {	span {
		padding: 0px;
	}
}
#vkAlarmLEDPanel_lb55 {	margin: 0px;
}
#vkAlarmLEDPanel_lb56 {	@include elemTop(356);
}
#vkAlarmLEDPanel_lb56 {	@include elemLeft(26);
}
#vkAlarmLEDPanel_lb56 {	@include elemAutoWidth(138);
}
#vkAlarmLEDPanel_lb56 {	@include elemAutoHeight(10);
}
#vkAlarmLEDPanel_lb56 {	z-index: 37;
}
#vkAlarmLEDPanel_lb56 {	& span {
		color: rgba(0, 0, 0, 1);
	}
}
#vkAlarmLEDPanel_lb56 {	font-size: 10px;
}
#vkAlarmLEDPanel_lb56 {	@include font-weight-bold(true);
}
#vkAlarmLEDPanel_lb56 {	span {
		padding: 0px;
	}
}
#vkAlarmLEDPanel_lb56 {	margin: 0px;
}
#vkAlarmLEDPanel_Ellipse41 {	@include elemTop(336);
}
#vkAlarmLEDPanel_Ellipse41 {	@include elemLeft(6);
}
#vkAlarmLEDPanel_Ellipse41 {	@include elemWidth(12);
}
#vkAlarmLEDPanel_Ellipse41 {	@include elemHeight(12);
}
#vkAlarmLEDPanel_Ellipse41 {	z-index: 38;
}
#vkAlarmLEDPanel_Ellipse41 {	border-style: solid;
}
#vkAlarmLEDPanel_Ellipse42 {	@include elemTop(355);
}
#vkAlarmLEDPanel_Ellipse42 {	@include elemLeft(6);
}
#vkAlarmLEDPanel_Ellipse42 {	@include elemWidth(12);
}
#vkAlarmLEDPanel_Ellipse42 {	@include elemHeight(12);
}
#vkAlarmLEDPanel_Ellipse42 {	z-index: 39;
}
#vkAlarmLEDPanel_Ellipse42 {	border-style: solid;
}
#vkAlarmLEDPanel_Line1 {	z-index: 1;
}
#vkAlarmLEDPanel_Line2 {	z-index: 2;
}
