@import "mixins.scss";
#vkDialogLoadingErr_Label1 {	@include elemTop(27);
}
#vkDialogLoadingErr_Label1 {	@include elemLeft(15);
}
#vkDialogLoadingErr_Label1 {	@include elemAutoWidth(504);
}
#vkDialogLoadingErr_Label1 {	@include elemAutoHeight(21);
}
#vkDialogLoadingErr_Label1 {	z-index: 0;
}
#vkDialogLoadingErr_Button1 {	@include elemTop(237);
}
#vkDialogLoadingErr_Button1 {	@include elemLeft(50);
}
#vkDialogLoadingErr_Button1 {	@include elemAutoWidth(132);
}
#vkDialogLoadingErr_Button1 {	@include elemAutoHeight(43);
}
#vkDialogLoadingErr_Button1 {	z-index: 1;
}
#vkDialogLoadingErr_Button1 {	@include border-radius(0px);
}
#vkDialogLoadingErr_Button2 {	@include elemTop(237);
}
#vkDialogLoadingErr_Button2 {	@include elemLeft(378);
}
#vkDialogLoadingErr_Button2 {	@include elemAutoWidth(132);
}
#vkDialogLoadingErr_Button2 {	@include elemAutoHeight(43);
}
#vkDialogLoadingErr_Button2 {	z-index: 2;
}
#vkDialogLoadingErr_Button2 {	@include border-radius(0px);
}
#vkDialogLoadingErr_Label2 {	@include elemTop(81);
}
#vkDialogLoadingErr_Label2 {	@include elemLeft(15);
}
#vkDialogLoadingErr_Label2 {	@include elemAutoWidth(114);
}
#vkDialogLoadingErr_Label2 {	@include elemAutoHeight(21);
}
#vkDialogLoadingErr_Label2 {	z-index: 3;
}
#vkDialogLoadingErr_Label3 {	@include elemTop(129);
}
#vkDialogLoadingErr_Label3 {	@include elemLeft(15);
}
#vkDialogLoadingErr_Label3 {	@include elemAutoWidth(504);
}
#vkDialogLoadingErr_Label3 {	@include elemAutoHeight(21);
}
#vkDialogLoadingErr_Label3 {	z-index: 4;
}
#vkDialogLoadingErr_Label4 {	@include elemTop(81);
}
#vkDialogLoadingErr_Label4 {	@include elemLeft(123);
}
#vkDialogLoadingErr_Label4 {	@include elemAutoWidth(369);
}
#vkDialogLoadingErr_Label4 {	@include elemAutoHeight(21);
}
#vkDialogLoadingErr_Label4 {	z-index: 5;
}
#vkDialogLoadingErr_Label4 {	& span {
		color: rgba(255, 0, 0, 1);
	}
}
#vkDialogLoadingErr_Label4 {	@include font-weight-bold(true);
}
#vkDialogLoadingErr_Label5 {	@include elemTop(81);
}
#vkDialogLoadingErr_Label5 {	@include elemLeft(390);
}
#vkDialogLoadingErr_Label5 {	@include elemAutoWidth(114);
}
#vkDialogLoadingErr_Label5 {	@include elemAutoHeight(21);
}
#vkDialogLoadingErr_Label5 {	z-index: 6;
}
#vkDialogLoadingErr_Label6 {	@include elemTop(183);
}
#vkDialogLoadingErr_Label6 {	@include elemLeft(14);
}
#vkDialogLoadingErr_Label6 {	@include elemAutoWidth(535);
}
#vkDialogLoadingErr_Label6 {	@include elemAutoHeight(21);
}
#vkDialogLoadingErr_Label6 {	z-index: 7;
}
#vkDialogLoadingErr_Label6 {	@include font-weight-bold(true);
}
