@import "mixins.scss";
#vkDialogLogin_TextOutput1 {	@include elemTop(2);
}
#vkDialogLogin_TextOutput1 {	@include elemLeft(2);
}
#vkDialogLogin_TextOutput1 {	@include elemAutoWidth(396);
}
#vkDialogLogin_TextOutput1 {	@include elemAutoHeight(76);
}
#vkDialogLogin_TextOutput1 {	z-index: 0;
}
#vkDialogLogin_TextOutput1 {	@include text-alignment-all('center');
}
#vkDialogLogin_btEraser {	@include elemTop(82);
}
#vkDialogLogin_btEraser {	@include elemLeft(302);
}
#vkDialogLogin_btEraser {	@include elemAutoWidth(80);
}
#vkDialogLogin_btEraser {	@include elemAutoHeight(70);
}
#vkDialogLogin_btEraser {	z-index: 1;
}
#vkDialogLogin_btEraser {	&:not(.active):not(.checked) {
		border-width: 1px;
	}
}
#vkDialogLogin_btEraser {	&.disabled {
		border-width: 1px;
	}
}
#vkDialogLogin_btEraser {	@include border-radius(0px);
}
#vkDialogLogin_btEraser {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btEraser {	&:not(.disabled):not(.active):not(.checked) {
		border-color: rgba(0, 0, 0, 1);
	}
}
#vkDialogLogin_btEraser {	&:not(.disabled):not(.active):not(.checked) span {
		color: rgba(192, 0, 0, 1);
	}
}
#vkDialogLogin_btEraser {	@include text-alignment(center);
}
#vkDialogLogin_btEraser {	span {
		font-size: 100px;
	}
}
#vkDialogLogin_btEraser {	padding: 0px 15px 15px 15px;
}
#vkDialogLogin_bt1 {	@include elemTop(172);
}
#vkDialogLogin_bt1 {	@include elemLeft(20);
}
#vkDialogLogin_bt1 {	@include elemAutoWidth(80);
}
#vkDialogLogin_bt1 {	@include elemAutoHeight(70);
}
#vkDialogLogin_bt1 {	z-index: 2;
}
#vkDialogLogin_bt1 {	&:not(.active):not(.checked) {
		border-width: 1px;
	}
}
#vkDialogLogin_bt1 {	&.disabled {
		border-width: 1px;
	}
}
#vkDialogLogin_bt1 {	@include border-radius(0px);
}
#vkDialogLogin_bt1 {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt1 {	&.disabled {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt1 {	&.disabled.active {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt1 {	&.disabled.checked {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt1 {	&:not(.disabled):not(.active):not(.checked) {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt1 {	&.disabled {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt1 {	&.disabled.active {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt1 {	&.disabled.checked {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt1 {	&.active:not(.disabled) {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt1 {	&.checked:not(.disabled) {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt1 {	&:not(.disabled):not(.active):not(.checked) {
		border-color: rgba(0, 0, 0, 1);
	}
}
#vkDialogLogin_bt1 {	&.disabled {
		border-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt1 {	&.disabled.active {
		border-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt1 {	&.disabled.checked {
		border-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt1 {	&:not(.disabled):not(.active):not(.checked) span {
		color: rgba(192, 0, 0, 1);
	}
}
#vkDialogLogin_bt1 {	&.disabled span {
		color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt1 {	&.disabled.active span {
		color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt1 {	&.disabled:checked span {
		color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt1 {	&.active:not(.disabled):not(.editMode) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt1 {	&.checked:not(.disabled) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt1 {	span {
		font-size: 30px;
	}
}
#vkDialogLogin_bt1 {	span {
		@include font-weight-bold(true);
	}
}
#vkDialogLogin_bt1 {	padding: 0px 0px;
}
#vkDialogLogin_bt1 {	&:not(.active):not(.checked) {
		@include box-shadow(0px 0px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt1 {	&.disabled.active {
		@include box-shadow(0px 0px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt1 {	&.disabled.checked {
		@include box-shadow(0px 0px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt1 {	&.active:not(.disabled):not(.editMode) {
		@include box-shadow(2px 2px 8px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt1 {	&.checked:not(.disabled) {
		@include box-shadow(2px 2px 8px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt2 {	@include elemTop(172);
}
#vkDialogLogin_bt2 {	@include elemLeft(114);
}
#vkDialogLogin_bt2 {	@include elemAutoWidth(80);
}
#vkDialogLogin_bt2 {	@include elemAutoHeight(70);
}
#vkDialogLogin_bt2 {	z-index: 3;
}
#vkDialogLogin_bt2 {	&:not(.active):not(.checked) {
		border-width: 1px;
	}
}
#vkDialogLogin_bt2 {	&.disabled {
		border-width: 1px;
	}
}
#vkDialogLogin_bt2 {	@include border-radius(0px);
}
#vkDialogLogin_bt2 {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt2 {	&.disabled {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt2 {	&.disabled.active {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt2 {	&.disabled.checked {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt2 {	&:not(.disabled):not(.active):not(.checked) {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt2 {	&.disabled {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt2 {	&.disabled.active {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt2 {	&.disabled.checked {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt2 {	&.active:not(.disabled) {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt2 {	&.checked:not(.disabled) {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt2 {	&:not(.disabled):not(.active):not(.checked) {
		border-color: rgba(0, 0, 0, 1);
	}
}
#vkDialogLogin_bt2 {	&.disabled {
		border-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt2 {	&.disabled.active {
		border-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt2 {	&.disabled.checked {
		border-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt2 {	&:not(.disabled):not(.active):not(.checked) span {
		color: rgba(192, 0, 0, 1);
	}
}
#vkDialogLogin_bt2 {	&.disabled span {
		color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt2 {	&.disabled.active span {
		color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt2 {	&.disabled:checked span {
		color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt2 {	&.active:not(.disabled):not(.editMode) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt2 {	&.checked:not(.disabled) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt2 {	span {
		font-size: 30px;
	}
}
#vkDialogLogin_bt2 {	span {
		@include font-weight-bold(true);
	}
}
#vkDialogLogin_bt2 {	padding: 0px 0px;
}
#vkDialogLogin_bt2 {	&:not(.active):not(.checked) {
		@include box-shadow(0px 0px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt2 {	&.disabled.active {
		@include box-shadow(0px 0px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt2 {	&.disabled.checked {
		@include box-shadow(0px 0px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt2 {	&.active:not(.disabled):not(.editMode) {
		@include box-shadow(2px 2px 8px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt2 {	&.checked:not(.disabled) {
		@include box-shadow(2px 2px 8px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt3 {	@include elemTop(172);
}
#vkDialogLogin_bt3 {	@include elemLeft(208);
}
#vkDialogLogin_bt3 {	@include elemAutoWidth(80);
}
#vkDialogLogin_bt3 {	@include elemAutoHeight(70);
}
#vkDialogLogin_bt3 {	z-index: 4;
}
#vkDialogLogin_bt3 {	&:not(.active):not(.checked) {
		border-width: 1px;
	}
}
#vkDialogLogin_bt3 {	&.disabled {
		border-width: 1px;
	}
}
#vkDialogLogin_bt3 {	@include border-radius(0px);
}
#vkDialogLogin_bt3 {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt3 {	&.disabled {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt3 {	&.disabled.active {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt3 {	&.disabled.checked {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt3 {	&:not(.disabled):not(.active):not(.checked) {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt3 {	&.disabled {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt3 {	&.disabled.active {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt3 {	&.disabled.checked {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt3 {	&.active:not(.disabled) {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt3 {	&.checked:not(.disabled) {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt3 {	&:not(.disabled):not(.active):not(.checked) {
		border-color: rgba(0, 0, 0, 1);
	}
}
#vkDialogLogin_bt3 {	&.disabled {
		border-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt3 {	&.disabled.active {
		border-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt3 {	&.disabled.checked {
		border-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt3 {	&:not(.disabled):not(.active):not(.checked) span {
		color: rgba(192, 0, 0, 1);
	}
}
#vkDialogLogin_bt3 {	&.disabled span {
		color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt3 {	&.disabled.active span {
		color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt3 {	&.disabled:checked span {
		color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt3 {	&.active:not(.disabled):not(.editMode) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt3 {	&.checked:not(.disabled) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt3 {	span {
		font-size: 30px;
	}
}
#vkDialogLogin_bt3 {	span {
		@include font-weight-bold(true);
	}
}
#vkDialogLogin_bt3 {	padding: 0px 0px;
}
#vkDialogLogin_bt3 {	&:not(.active):not(.checked) {
		@include box-shadow(0px 0px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt3 {	&.disabled.active {
		@include box-shadow(0px 0px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt3 {	&.disabled.checked {
		@include box-shadow(0px 0px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt3 {	&.active:not(.disabled):not(.editMode) {
		@include box-shadow(2px 2px 8px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt3 {	&.checked:not(.disabled) {
		@include box-shadow(2px 2px 8px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_btExit {	@include elemTop(172);
}
#vkDialogLogin_btExit {	@include elemLeft(302);
}
#vkDialogLogin_btExit {	@include elemAutoWidth(80);
}
#vkDialogLogin_btExit {	@include elemAutoHeight(70);
}
#vkDialogLogin_btExit {	z-index: 5;
}
#vkDialogLogin_btExit {	&:not(.active):not(.checked) {
		border-width: 1px;
	}
}
#vkDialogLogin_btExit {	&.disabled {
		border-width: 1px;
	}
}
#vkDialogLogin_btExit {	@include border-radius(0px);
}
#vkDialogLogin_btExit {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btExit {	&.disabled {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btExit {	&.disabled.active {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btExit {	&.disabled.checked {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btExit {	&:not(.disabled):not(.active):not(.checked) {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_btExit {	&.disabled {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_btExit {	&.disabled.active {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_btExit {	&.disabled.checked {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_btExit {	&.active:not(.disabled) {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_btExit {	&.checked:not(.disabled) {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_btExit {	&:not(.disabled):not(.active):not(.checked) {
		border-color: rgba(0, 0, 0, 1);
	}
}
#vkDialogLogin_btExit {	&.disabled {
		border-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btExit {	&.disabled.active {
		border-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btExit {	&.disabled.checked {
		border-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btExit {	&:not(.disabled):not(.active):not(.checked) span {
		color: rgba(192, 0, 0, 1);
	}
}
#vkDialogLogin_btExit {	&.disabled span {
		color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btExit {	&.disabled.active span {
		color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btExit {	&.disabled:checked span {
		color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btExit {	&.active:not(.disabled):not(.editMode) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btExit {	&.checked:not(.disabled) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btExit {	span {
		font-size: 30px;
	}
}
#vkDialogLogin_btExit {	span {
		@include font-weight-bold(true);
	}
}
#vkDialogLogin_btExit {	padding: 0px 0px;
}
#vkDialogLogin_btExit {	&:not(.active):not(.checked) {
		@include box-shadow(0px 0px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_btExit {	&.disabled.active {
		@include box-shadow(0px 0px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_btExit {	&.disabled.checked {
		@include box-shadow(0px 0px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_btExit {	&.active:not(.disabled):not(.editMode) {
		@include box-shadow(2px 2px 8px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_btExit {	&.checked:not(.disabled) {
		@include box-shadow(2px 2px 8px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt4 {	@include elemTop(254);
}
#vkDialogLogin_bt4 {	@include elemLeft(20);
}
#vkDialogLogin_bt4 {	@include elemAutoWidth(80);
}
#vkDialogLogin_bt4 {	@include elemAutoHeight(70);
}
#vkDialogLogin_bt4 {	z-index: 6;
}
#vkDialogLogin_bt4 {	&:not(.active):not(.checked) {
		border-width: 1px;
	}
}
#vkDialogLogin_bt4 {	&.disabled {
		border-width: 1px;
	}
}
#vkDialogLogin_bt4 {	@include border-radius(0px);
}
#vkDialogLogin_bt4 {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt4 {	&.disabled {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt4 {	&.disabled.active {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt4 {	&.disabled.checked {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt4 {	&:not(.disabled):not(.active):not(.checked) {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt4 {	&.disabled {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt4 {	&.disabled.active {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt4 {	&.disabled.checked {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt4 {	&.active:not(.disabled) {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt4 {	&.checked:not(.disabled) {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt4 {	&:not(.disabled):not(.active):not(.checked) {
		border-color: rgba(0, 0, 0, 1);
	}
}
#vkDialogLogin_bt4 {	&.disabled {
		border-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt4 {	&.disabled.active {
		border-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt4 {	&.disabled.checked {
		border-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt4 {	&:not(.disabled):not(.active):not(.checked) span {
		color: rgba(192, 0, 0, 1);
	}
}
#vkDialogLogin_bt4 {	&.disabled span {
		color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt4 {	&.disabled.active span {
		color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt4 {	&.disabled:checked span {
		color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt4 {	&.active:not(.disabled):not(.editMode) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt4 {	&.checked:not(.disabled) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt4 {	span {
		font-size: 30px;
	}
}
#vkDialogLogin_bt4 {	span {
		@include font-weight-bold(true);
	}
}
#vkDialogLogin_bt4 {	padding: 0px 0px;
}
#vkDialogLogin_bt4 {	&:not(.active):not(.checked) {
		@include box-shadow(0px 0px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt4 {	&.disabled.active {
		@include box-shadow(0px 0px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt4 {	&.disabled.checked {
		@include box-shadow(0px 0px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt4 {	&.active:not(.disabled):not(.editMode) {
		@include box-shadow(2px 2px 8px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt4 {	&.checked:not(.disabled) {
		@include box-shadow(2px 2px 8px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt5 {	@include elemTop(254);
}
#vkDialogLogin_bt5 {	@include elemLeft(114);
}
#vkDialogLogin_bt5 {	@include elemAutoWidth(80);
}
#vkDialogLogin_bt5 {	@include elemAutoHeight(70);
}
#vkDialogLogin_bt5 {	z-index: 7;
}
#vkDialogLogin_bt5 {	&:not(.active):not(.checked) {
		border-width: 1px;
	}
}
#vkDialogLogin_bt5 {	&.disabled {
		border-width: 1px;
	}
}
#vkDialogLogin_bt5 {	@include border-radius(0px);
}
#vkDialogLogin_bt5 {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt5 {	&.disabled {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt5 {	&.disabled.active {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt5 {	&.disabled.checked {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt5 {	&:not(.disabled):not(.active):not(.checked) {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt5 {	&.disabled {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt5 {	&.disabled.active {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt5 {	&.disabled.checked {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt5 {	&.active:not(.disabled) {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt5 {	&.checked:not(.disabled) {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt5 {	&:not(.disabled):not(.active):not(.checked) {
		border-color: rgba(0, 0, 0, 1);
	}
}
#vkDialogLogin_bt5 {	&.disabled {
		border-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt5 {	&.disabled.active {
		border-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt5 {	&.disabled.checked {
		border-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt5 {	&:not(.disabled):not(.active):not(.checked) span {
		color: rgba(192, 0, 0, 1);
	}
}
#vkDialogLogin_bt5 {	&.disabled span {
		color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt5 {	&.disabled.active span {
		color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt5 {	&.disabled:checked span {
		color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt5 {	&.active:not(.disabled):not(.editMode) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt5 {	&.checked:not(.disabled) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt5 {	span {
		font-size: 30px;
	}
}
#vkDialogLogin_bt5 {	span {
		@include font-weight-bold(true);
	}
}
#vkDialogLogin_bt5 {	padding: 0px 0px;
}
#vkDialogLogin_bt5 {	&:not(.active):not(.checked) {
		@include box-shadow(0px 0px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt5 {	&.disabled.active {
		@include box-shadow(0px 0px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt5 {	&.disabled.checked {
		@include box-shadow(0px 0px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt5 {	&.active:not(.disabled):not(.editMode) {
		@include box-shadow(2px 2px 8px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt5 {	&.checked:not(.disabled) {
		@include box-shadow(2px 2px 8px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt6 {	@include elemTop(254);
}
#vkDialogLogin_bt6 {	@include elemLeft(208);
}
#vkDialogLogin_bt6 {	@include elemAutoWidth(80);
}
#vkDialogLogin_bt6 {	@include elemAutoHeight(70);
}
#vkDialogLogin_bt6 {	z-index: 8;
}
#vkDialogLogin_bt6 {	&:not(.active):not(.checked) {
		border-width: 1px;
	}
}
#vkDialogLogin_bt6 {	&.disabled {
		border-width: 1px;
	}
}
#vkDialogLogin_bt6 {	@include border-radius(0px);
}
#vkDialogLogin_bt6 {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt6 {	&.disabled {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt6 {	&.disabled.active {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt6 {	&.disabled.checked {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt6 {	&:not(.disabled):not(.active):not(.checked) {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt6 {	&.disabled {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt6 {	&.disabled.active {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt6 {	&.disabled.checked {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt6 {	&.active:not(.disabled) {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt6 {	&.checked:not(.disabled) {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt6 {	&:not(.disabled):not(.active):not(.checked) {
		border-color: rgba(0, 0, 0, 1);
	}
}
#vkDialogLogin_bt6 {	&.disabled {
		border-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt6 {	&.disabled.active {
		border-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt6 {	&.disabled.checked {
		border-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt6 {	&:not(.disabled):not(.active):not(.checked) span {
		color: rgba(192, 0, 0, 1);
	}
}
#vkDialogLogin_bt6 {	&.disabled span {
		color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt6 {	&.disabled.active span {
		color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt6 {	&.disabled:checked span {
		color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt6 {	&.active:not(.disabled):not(.editMode) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt6 {	&.checked:not(.disabled) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt6 {	span {
		font-size: 30px;
	}
}
#vkDialogLogin_bt6 {	span {
		@include font-weight-bold(true);
	}
}
#vkDialogLogin_bt6 {	padding: 0px 0px;
}
#vkDialogLogin_bt6 {	&:not(.active):not(.checked) {
		@include box-shadow(0px 0px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt6 {	&.disabled.active {
		@include box-shadow(0px 0px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt6 {	&.disabled.checked {
		@include box-shadow(0px 0px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt6 {	&.active:not(.disabled):not(.editMode) {
		@include box-shadow(2px 2px 8px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt6 {	&.checked:not(.disabled) {
		@include box-shadow(2px 2px 8px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_btClear {	@include elemTop(254);
}
#vkDialogLogin_btClear {	@include elemLeft(302);
}
#vkDialogLogin_btClear {	@include elemAutoWidth(80);
}
#vkDialogLogin_btClear {	@include elemAutoHeight(70);
}
#vkDialogLogin_btClear {	z-index: 9;
}
#vkDialogLogin_btClear {	&:not(.active):not(.checked) {
		border-width: 1px;
	}
}
#vkDialogLogin_btClear {	&.disabled {
		border-width: 1px;
	}
}
#vkDialogLogin_btClear {	@include border-radius(0px);
}
#vkDialogLogin_btClear {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btClear {	&.disabled {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btClear {	&.disabled.active {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btClear {	&.disabled.checked {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btClear {	&:not(.disabled):not(.active):not(.checked) {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_btClear {	&.disabled {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_btClear {	&.disabled.active {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_btClear {	&.disabled.checked {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_btClear {	&.active:not(.disabled) {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_btClear {	&.checked:not(.disabled) {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_btClear {	&:not(.disabled):not(.active):not(.checked) {
		border-color: rgba(0, 0, 0, 1);
	}
}
#vkDialogLogin_btClear {	&.disabled {
		border-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btClear {	&.disabled.active {
		border-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btClear {	&.disabled.checked {
		border-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btClear {	&:not(.disabled):not(.active):not(.checked) span {
		color: rgba(192, 0, 0, 1);
	}
}
#vkDialogLogin_btClear {	&.disabled span {
		color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btClear {	&.disabled.active span {
		color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btClear {	&.disabled:checked span {
		color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btClear {	&.active:not(.disabled):not(.editMode) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btClear {	&.checked:not(.disabled) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btClear {	span {
		font-size: 30px;
	}
}
#vkDialogLogin_btClear {	span {
		@include font-weight-bold(true);
	}
}
#vkDialogLogin_btClear {	padding: 0px 0px;
}
#vkDialogLogin_btClear {	&:not(.active):not(.checked) {
		@include box-shadow(0px 0px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_btClear {	&.disabled.active {
		@include box-shadow(0px 0px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_btClear {	&.disabled.checked {
		@include box-shadow(0px 0px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_btClear {	&.active:not(.disabled):not(.editMode) {
		@include box-shadow(2px 2px 8px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_btClear {	&.checked:not(.disabled) {
		@include box-shadow(2px 2px 8px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt7 {	@include elemTop(336);
}
#vkDialogLogin_bt7 {	@include elemLeft(20);
}
#vkDialogLogin_bt7 {	@include elemAutoWidth(80);
}
#vkDialogLogin_bt7 {	@include elemAutoHeight(70);
}
#vkDialogLogin_bt7 {	z-index: 10;
}
#vkDialogLogin_bt7 {	&:not(.active):not(.checked) {
		border-width: 1px;
	}
}
#vkDialogLogin_bt7 {	&.disabled {
		border-width: 1px;
	}
}
#vkDialogLogin_bt7 {	@include border-radius(0px);
}
#vkDialogLogin_bt7 {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt7 {	&.disabled {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt7 {	&.disabled.active {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt7 {	&.disabled.checked {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt7 {	&:not(.disabled):not(.active):not(.checked) {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt7 {	&.disabled {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt7 {	&.disabled.active {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt7 {	&.disabled.checked {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt7 {	&.active:not(.disabled) {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt7 {	&.checked:not(.disabled) {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt7 {	&:not(.disabled):not(.active):not(.checked) {
		border-color: rgba(0, 0, 0, 1);
	}
}
#vkDialogLogin_bt7 {	&.disabled {
		border-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt7 {	&.disabled.active {
		border-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt7 {	&.disabled.checked {
		border-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt7 {	&:not(.disabled):not(.active):not(.checked) span {
		color: rgba(192, 0, 0, 1);
	}
}
#vkDialogLogin_bt7 {	&.disabled span {
		color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt7 {	&.disabled.active span {
		color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt7 {	&.disabled:checked span {
		color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt7 {	&.active:not(.disabled):not(.editMode) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt7 {	&.checked:not(.disabled) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt7 {	span {
		font-size: 30px;
	}
}
#vkDialogLogin_bt7 {	span {
		@include font-weight-bold(true);
	}
}
#vkDialogLogin_bt7 {	padding: 0px 0px;
}
#vkDialogLogin_bt7 {	&:not(.active):not(.checked) {
		@include box-shadow(0px 0px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt7 {	&.disabled.active {
		@include box-shadow(0px 0px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt7 {	&.disabled.checked {
		@include box-shadow(0px 0px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt7 {	&.active:not(.disabled):not(.editMode) {
		@include box-shadow(2px 2px 8px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt7 {	&.checked:not(.disabled) {
		@include box-shadow(2px 2px 8px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt8 {	@include elemTop(336);
}
#vkDialogLogin_bt8 {	@include elemLeft(114);
}
#vkDialogLogin_bt8 {	@include elemAutoWidth(80);
}
#vkDialogLogin_bt8 {	@include elemAutoHeight(70);
}
#vkDialogLogin_bt8 {	z-index: 11;
}
#vkDialogLogin_bt8 {	&:not(.active):not(.checked) {
		border-width: 1px;
	}
}
#vkDialogLogin_bt8 {	&.disabled {
		border-width: 1px;
	}
}
#vkDialogLogin_bt8 {	@include border-radius(0px);
}
#vkDialogLogin_bt8 {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt8 {	&.disabled {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt8 {	&.disabled.active {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt8 {	&.disabled.checked {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt8 {	&:not(.disabled):not(.active):not(.checked) {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt8 {	&.disabled {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt8 {	&.disabled.active {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt8 {	&.disabled.checked {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt8 {	&.active:not(.disabled) {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt8 {	&.checked:not(.disabled) {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt8 {	&:not(.disabled):not(.active):not(.checked) {
		border-color: rgba(0, 0, 0, 1);
	}
}
#vkDialogLogin_bt8 {	&.disabled {
		border-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt8 {	&.disabled.active {
		border-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt8 {	&.disabled.checked {
		border-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt8 {	&:not(.disabled):not(.active):not(.checked) span {
		color: rgba(192, 0, 0, 1);
	}
}
#vkDialogLogin_bt8 {	&.disabled span {
		color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt8 {	&.disabled.active span {
		color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt8 {	&.disabled:checked span {
		color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt8 {	&.active:not(.disabled):not(.editMode) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt8 {	&.checked:not(.disabled) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt8 {	span {
		font-size: 30px;
	}
}
#vkDialogLogin_bt8 {	span {
		@include font-weight-bold(true);
	}
}
#vkDialogLogin_bt8 {	padding: 0px 0px;
}
#vkDialogLogin_bt8 {	&:not(.active):not(.checked) {
		@include box-shadow(0px 0px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt8 {	&.disabled.active {
		@include box-shadow(0px 0px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt8 {	&.disabled.checked {
		@include box-shadow(0px 0px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt8 {	&.active:not(.disabled):not(.editMode) {
		@include box-shadow(2px 2px 8px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt8 {	&.checked:not(.disabled) {
		@include box-shadow(2px 2px 8px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt9 {	@include elemTop(336);
}
#vkDialogLogin_bt9 {	@include elemLeft(208);
}
#vkDialogLogin_bt9 {	@include elemAutoWidth(80);
}
#vkDialogLogin_bt9 {	@include elemAutoHeight(70);
}
#vkDialogLogin_bt9 {	z-index: 12;
}
#vkDialogLogin_bt9 {	&:not(.active):not(.checked) {
		border-width: 1px;
	}
}
#vkDialogLogin_bt9 {	&.disabled {
		border-width: 1px;
	}
}
#vkDialogLogin_bt9 {	@include border-radius(0px);
}
#vkDialogLogin_bt9 {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt9 {	&.disabled {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt9 {	&.disabled.active {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt9 {	&.disabled.checked {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt9 {	&:not(.disabled):not(.active):not(.checked) {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt9 {	&.disabled {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt9 {	&.disabled.active {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt9 {	&.disabled.checked {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt9 {	&.active:not(.disabled) {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt9 {	&.checked:not(.disabled) {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt9 {	&:not(.disabled):not(.active):not(.checked) {
		border-color: rgba(0, 0, 0, 1);
	}
}
#vkDialogLogin_bt9 {	&.disabled {
		border-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt9 {	&.disabled.active {
		border-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt9 {	&.disabled.checked {
		border-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt9 {	&:not(.disabled):not(.active):not(.checked) span {
		color: rgba(192, 0, 0, 1);
	}
}
#vkDialogLogin_bt9 {	&.disabled span {
		color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt9 {	&.disabled.active span {
		color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt9 {	&.disabled:checked span {
		color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt9 {	&.active:not(.disabled):not(.editMode) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt9 {	&.checked:not(.disabled) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt9 {	span {
		font-size: 30px;
	}
}
#vkDialogLogin_bt9 {	span {
		@include font-weight-bold(true);
	}
}
#vkDialogLogin_bt9 {	padding: 0px 0px;
}
#vkDialogLogin_bt9 {	&:not(.active):not(.checked) {
		@include box-shadow(0px 0px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt9 {	&.disabled.active {
		@include box-shadow(0px 0px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt9 {	&.disabled.checked {
		@include box-shadow(0px 0px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt9 {	&.active:not(.disabled):not(.editMode) {
		@include box-shadow(2px 2px 8px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt9 {	&.checked:not(.disabled) {
		@include box-shadow(2px 2px 8px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_btHyphen {	@include elemTop(336);
}
#vkDialogLogin_btHyphen {	@include elemLeft(302);
}
#vkDialogLogin_btHyphen {	@include elemAutoWidth(80);
}
#vkDialogLogin_btHyphen {	@include elemAutoHeight(70);
}
#vkDialogLogin_btHyphen {	z-index: 13;
}
#vkDialogLogin_btHyphen {	&:not(.active):not(.checked) {
		border-width: 1px;
	}
}
#vkDialogLogin_btHyphen {	&.disabled {
		border-width: 1px;
	}
}
#vkDialogLogin_btHyphen {	@include border-radius(0px);
}
#vkDialogLogin_btHyphen {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btHyphen {	&.disabled {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btHyphen {	&.disabled.active {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btHyphen {	&.disabled.checked {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btHyphen {	&:not(.disabled):not(.active):not(.checked) {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_btHyphen {	&.disabled {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_btHyphen {	&.disabled.active {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_btHyphen {	&.disabled.checked {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_btHyphen {	&.active:not(.disabled) {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_btHyphen {	&.checked:not(.disabled) {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_btHyphen {	&:not(.disabled):not(.active):not(.checked) {
		border-color: rgba(0, 0, 0, 1);
	}
}
#vkDialogLogin_btHyphen {	&.disabled {
		border-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btHyphen {	&.disabled.active {
		border-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btHyphen {	&.disabled.checked {
		border-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btHyphen {	&:not(.disabled):not(.active):not(.checked) span {
		color: rgba(192, 0, 0, 1);
	}
}
#vkDialogLogin_btHyphen {	&.disabled span {
		color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btHyphen {	&.disabled.active span {
		color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btHyphen {	&.disabled:checked span {
		color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btHyphen {	&.active:not(.disabled):not(.editMode) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btHyphen {	&.checked:not(.disabled) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btHyphen {	span {
		font-size: 30px;
	}
}
#vkDialogLogin_btHyphen {	span {
		@include font-weight-bold(true);
	}
}
#vkDialogLogin_btHyphen {	padding: 0px 0px;
}
#vkDialogLogin_btHyphen {	&:not(.active):not(.checked) {
		@include box-shadow(0px 0px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_btHyphen {	&.disabled.active {
		@include box-shadow(0px 0px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_btHyphen {	&.disabled.checked {
		@include box-shadow(0px 0px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_btHyphen {	&.active:not(.disabled):not(.editMode) {
		@include box-shadow(2px 2px 8px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_btHyphen {	&.checked:not(.disabled) {
		@include box-shadow(2px 2px 8px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_btDot {	@include elemTop(418);
}
#vkDialogLogin_btDot {	@include elemLeft(20);
}
#vkDialogLogin_btDot {	@include elemAutoWidth(80);
}
#vkDialogLogin_btDot {	@include elemAutoHeight(70);
}
#vkDialogLogin_btDot {	z-index: 14;
}
#vkDialogLogin_btDot {	&:not(.active):not(.checked) {
		border-width: 1px;
	}
}
#vkDialogLogin_btDot {	&.disabled {
		border-width: 1px;
	}
}
#vkDialogLogin_btDot {	@include border-radius(0px);
}
#vkDialogLogin_btDot {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btDot {	&.disabled {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btDot {	&.disabled.active {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btDot {	&.disabled.checked {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btDot {	&:not(.disabled):not(.active):not(.checked) {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_btDot {	&.disabled {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_btDot {	&.disabled.active {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_btDot {	&.disabled.checked {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_btDot {	&.active:not(.disabled) {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_btDot {	&.checked:not(.disabled) {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_btDot {	&:not(.disabled):not(.active):not(.checked) {
		border-color: rgba(0, 0, 0, 1);
	}
}
#vkDialogLogin_btDot {	&.disabled {
		border-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btDot {	&.disabled.active {
		border-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btDot {	&.disabled.checked {
		border-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btDot {	&:not(.disabled):not(.active):not(.checked) span {
		color: rgba(192, 0, 0, 1);
	}
}
#vkDialogLogin_btDot {	&.disabled span {
		color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btDot {	&.disabled.active span {
		color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btDot {	&.disabled:checked span {
		color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btDot {	&.active:not(.disabled):not(.editMode) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btDot {	&.checked:not(.disabled) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btDot {	span {
		font-size: 30px;
	}
}
#vkDialogLogin_btDot {	span {
		@include font-weight-bold(true);
	}
}
#vkDialogLogin_btDot {	padding: 0px 0px;
}
#vkDialogLogin_btDot {	&:not(.active):not(.checked) {
		@include box-shadow(0px 0px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_btDot {	&.disabled.active {
		@include box-shadow(0px 0px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_btDot {	&.disabled.checked {
		@include box-shadow(0px 0px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_btDot {	&.active:not(.disabled):not(.editMode) {
		@include box-shadow(2px 2px 8px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_btDot {	&.checked:not(.disabled) {
		@include box-shadow(2px 2px 8px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt0 {	@include elemTop(418);
}
#vkDialogLogin_bt0 {	@include elemLeft(114);
}
#vkDialogLogin_bt0 {	@include elemAutoWidth(80);
}
#vkDialogLogin_bt0 {	@include elemAutoHeight(70);
}
#vkDialogLogin_bt0 {	z-index: 15;
}
#vkDialogLogin_bt0 {	&:not(.active):not(.checked) {
		border-width: 1px;
	}
}
#vkDialogLogin_bt0 {	&.disabled {
		border-width: 1px;
	}
}
#vkDialogLogin_bt0 {	@include border-radius(0px);
}
#vkDialogLogin_bt0 {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt0 {	&.disabled {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt0 {	&.disabled.active {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt0 {	&.disabled.checked {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt0 {	&:not(.disabled):not(.active):not(.checked) {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt0 {	&.disabled {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt0 {	&.disabled.active {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt0 {	&.disabled.checked {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt0 {	&.active:not(.disabled) {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt0 {	&.checked:not(.disabled) {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_bt0 {	&:not(.disabled):not(.active):not(.checked) {
		border-color: rgba(0, 0, 0, 1);
	}
}
#vkDialogLogin_bt0 {	&.disabled {
		border-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt0 {	&.disabled.active {
		border-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt0 {	&.disabled.checked {
		border-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt0 {	&:not(.disabled):not(.active):not(.checked) span {
		color: rgba(192, 0, 0, 1);
	}
}
#vkDialogLogin_bt0 {	&.disabled span {
		color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt0 {	&.disabled.active span {
		color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt0 {	&.disabled:checked span {
		color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt0 {	&.active:not(.disabled):not(.editMode) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt0 {	&.checked:not(.disabled) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_bt0 {	span {
		font-size: 30px;
	}
}
#vkDialogLogin_bt0 {	span {
		@include font-weight-bold(true);
	}
}
#vkDialogLogin_bt0 {	padding: 0px 0px;
}
#vkDialogLogin_bt0 {	&:not(.active):not(.checked) {
		@include box-shadow(0px 0px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt0 {	&.disabled.active {
		@include box-shadow(0px 0px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt0 {	&.disabled.checked {
		@include box-shadow(0px 0px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt0 {	&.active:not(.disabled):not(.editMode) {
		@include box-shadow(2px 2px 8px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_bt0 {	&.checked:not(.disabled) {
		@include box-shadow(2px 2px 8px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_btLogin {	@include elemTop(418);
}
#vkDialogLogin_btLogin {	@include elemLeft(208);
}
#vkDialogLogin_btLogin {	@include elemAutoWidth(174);
}
#vkDialogLogin_btLogin {	@include elemAutoHeight(70);
}
#vkDialogLogin_btLogin {	z-index: 16;
}
#vkDialogLogin_btLogin {	&:not(.active):not(.checked) {
		border-width: 1px;
	}
}
#vkDialogLogin_btLogin {	&.disabled {
		border-width: 1px;
	}
}
#vkDialogLogin_btLogin {	@include border-radius(0px);
}
#vkDialogLogin_btLogin {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btLogin {	&.disabled {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btLogin {	&.disabled.active {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btLogin {	&.disabled.checked {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btLogin {	&:not(.disabled):not(.active):not(.checked) {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_btLogin {	&.disabled {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_btLogin {	&.disabled.active {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_btLogin {	&.disabled.checked {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_btLogin {	&.active:not(.disabled) {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_btLogin {	&.checked:not(.disabled) {
		@include backGroundGradient('');
	}
}
#vkDialogLogin_btLogin {	&:not(.disabled):not(.active):not(.checked) {
		border-color: rgba(0, 0, 0, 1);
	}
}
#vkDialogLogin_btLogin {	&.disabled {
		border-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btLogin {	&.disabled.active {
		border-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btLogin {	&.disabled.checked {
		border-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btLogin {	&:not(.disabled):not(.active):not(.checked) span {
		color: rgba(192, 0, 0, 1);
	}
}
#vkDialogLogin_btLogin {	&.disabled span {
		color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btLogin {	&.disabled.active span {
		color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btLogin {	&.disabled:checked span {
		color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btLogin {	&.active:not(.disabled):not(.editMode) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btLogin {	&.checked:not(.disabled) {
		background-color: rgba(255, 255, 255, 1);
	}
}
#vkDialogLogin_btLogin {	span {
		font-size: 30px;
	}
}
#vkDialogLogin_btLogin {	span {
		@include font-weight-bold(true);
	}
}
#vkDialogLogin_btLogin {	padding: 0px 0px;
}
#vkDialogLogin_btLogin {	&:not(.active):not(.checked) {
		@include box-shadow(0px 0px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_btLogin {	&.disabled.active {
		@include box-shadow(0px 0px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_btLogin {	&.disabled.checked {
		@include box-shadow(0px 0px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_btLogin {	&.active:not(.disabled):not(.editMode) {
		@include box-shadow(2px 2px 8px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_btLogin {	&.checked:not(.disabled) {
		@include box-shadow(2px 2px 8px rgba(255, 255, 255, 1));
	}
}
#vkDialogLogin_TextOutput2 {	@include elemTop(82);
}
#vkDialogLogin_TextOutput2 {	@include elemLeft(20);
}
#vkDialogLogin_TextOutput2 {	@include elemAutoWidth(268);
}
#vkDialogLogin_TextOutput2 {	@include elemAutoHeight(70);
}
#vkDialogLogin_TextOutput2 {	z-index: 17;
}
#vkDialogLogin_TextOutput2 {	border-width: 1px;
}
#vkDialogLogin_TextOutput2 {	border-color: rgba(0, 0, 0, 1);
}
#vkDialogLogin_TextOutput2 {	&:before {
		border-color: rgba(0, 0, 0, 1);
	}
}
#vkDialogLogin_TextOutput2 {	&:after {
		border-color: rgba(0, 0, 0, 1);
	}
}
#vkDialogLogin_TextOutput2 {	border-style: solid;
}
#vkDialogLogin_TextOutput2 {	&:before {
		border-style: solid;
	}
}
#vkDialogLogin_TextOutput2 {	&:after {
		border-style: solid;
	}
}
#vkDialogLogin_TextOutput2 {	@include text-alignment-all('right');
}
#vkDialogLogin_TextOutput2 {	font-size: 30px;
}
#vkDialogLogin_TextOutput2 {	span {
		padding: 15px 15px 0px 0px;
	}
}
